[2018-03-20 12:47] pjhampton opened #1 "Replace string metrics and re-release"

[2018-03-20 18:55] pjhampton commented on #1
Fixed and pushed to master

[2018-03-20 18:55] #1 closed

[2018-05-15 20:58] sergeohl opened #2 "Support kibana 6.1.1"
Can you support newest version of kibana ?

[2018-05-15 21:55] pjhampton commented on #2
Hey @sergeohl

Sure, no problem. Tested and working: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.1.1

Hope it's what you are looking for 😄

[2018-05-15 21:55] #2 closed

[2018-05-16 17:11] sergeohl opened #3 "6.1.1 is internal error 500"
When I use the version 6.1.1 I have an internal error 500 when I try to reach `_prometheus/metrics `

[2018-05-16 18:34] sergeohl commented on #3
Yes the version is ok.

But I think the issue is in the https validation

[2018-05-18 18:30] pjhampton commented on #3
Hey @sergeohl did you ever get to the bottom of this?

[2018-05-23 03:07] like-inspur opened #4 "new kibana version dosen't support"
I install newest version kibana, and install 6.1.1 version plugin, but it doesn't support. Error is like this:
Attempting to transfer from http://10.110.17.48/monitor/kibana-prometheus-exporter-6.1.1.zip
Transferring 465820 bytes....................
Transfer complete
Retrieving metadata from plugin archive
Plugin installation was unsuccessful due to error "No kibana plugins found in archive"

[2018-05-23 15:04] pjhampton commented on #4
Hey @like-inspur

Something doesn't seem quite right here. Did you follow the [installation instructions](https://github.com/pjhampton/kibana-prometheus-exporter#installing)?

It seems that you have not added this to the plugins directory. Also, are you using kibana 6.1.1?

[2018-05-23 17:38] sergeohl commented on #3
Not yet I'm stuck with

`{"type":"error","@timestamp":"2018-05-23T17:35:28Z","tags":[],"pid":1,"level":"error","error":{"message":"Hostname/IP doesn't match certificate's altnames: \"IP: 0.0.0.0 is not in the cert's list: \"","name":"Error","stack":"Error: Hostname/IP doesn't match certificate's altnames: \"IP: 0.0.0.0 is not in the cert's list: \"\n    at Object.checkServerIdentity (tls.js:199:17

[2018-05-24 11:11] sergeohl commented on #3
So the issue is not in my side but in the plugins.

Node,js and request do a hostname verification and in my case (kubernetes, loadbalancing) is not working.
In kibana I disable le ssl name verification, but the plugin doesn't care about it.

[2018-05-24 11:12] sergeohl commented on #4
@like-inspur you need the same version as kibana.

Ask to @pjhampton to add the your version (6.2.4)

[2018-05-24 11:53] like-inspur commented on #4
@pjhampton @sergeohl I need 6.2.4 version kibana plugin. Thank you!

[2018-05-24 20:44] pjhampton commented on #4
Yes, @sergeohl is correct - needs a new release. See this: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.2.4
I / we should probably go through and all for 6.x.x

[2018-05-24 20:44] #4 closed

[2018-05-24 20:48] pjhampton commented on #3
Hmm, interesting. Is it all plugins or just this one?
Do you have steps that I can reproduce?

[2018-05-25 06:09] like-inspur opened #6 "6.2.4 plugin install failed"
I download kibana-prometheus-exporter-6.2.4.zip and add to my local repo. When I execute kibana-plugin install command, error outuputs "No kibana plugins found in archive"
# ./kibana-plugin install http://10.110.17.48/monitor/kibana-prometheus-exporter-6.2.4.zip
Attempting to transfer from http://10.110.17.48/monitor/kibana-prometheus-exporter-6.2.4.zip
Transferring 465821 bytes...................

[2018-05-25 12:14] pjhampton commented on #6
@like-inspur I will look into why this is. In the meantime you can unzip that folder in the directory and delete the top level zip. Thanks

[2018-05-28 01:43] like-inspur commented on #6
I think you should support a install package like this(https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases), not a source code package. Look forward to your reply, thanks.

[2018-05-30 12:19] pjhampton commented on #6
Yeah, @like-inspur - I think this is a good suggestion. I will make it so in the coming days.
Did you manage to get this installed ok in the end?

[2018-05-31 00:50] like-inspur commented on #6
I try to unzip package to /opt/kibana/plugins/ dir, but it seems not work.

[2018-05-31 12:18] pjhampton commented on #6
@like-inspur so the contents of the plugin are in a folder called `/opt/kibana/plugins/prometheus-kibana-exporter`?

[2018-06-01 01:57] like-inspur commented on #6
Yes. and kibana can't start because of this plugin. The output of kibana is like this:
{"type":"log","@timestamp":"2018-06-01T01:43:58Z","tags":["info","optimize"],"pid":246,"message":"Optimizing and caching bundles for stateSessionStorageRedirect, status_page, timelion, kibana-prometheus-exporter and kibana. This may take a few minutes"}

[2018-06-01 08:06] pjhampton commented on #6
I see @like-inspur - this is normal behaviour. It takes like 3/4 minutes to compile and then starts up with Kibana itself. If it still isn't working after a couple of minutes - is there any other logs?

[2018-06-02 02:58] like-inspur commented on #6
No, I wait for a long time, but there isn't any other log, and kibana can't start still.

[2018-06-02 13:19] pjhampton commented on #6
Ok, I'm aware of the slow compilation times but it _should_ finish. I will reach out to the Kibana developers and get back to you in this thread.

[2018-06-22 18:28] nikolay opened #7 "6.3.0 support"
Any ETA?

[2018-06-23 20:12] pjhampton commented on #7
Now! https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.3.0 😄

Thanks for your support @nikolay ✨ ⭐️
Let me know if you need any help.

[2018-06-24 16:00] nikolay commented on #7
After looking into other plugins, it seems that you need to have a base folder of `kibana`, and then a folder with the plugin slug underneath with no versioning, i.e., in this case, the container folder path should be `kibana/prometheus-exporter` and not `kibana-prometheus-exporter-6.3.0` like it is right now.

[2018-06-24 16:01] nikolay commented on #7
Lastly, all your other release names are without a `v` prefix. 😄

[2018-06-24 21:34] pjhampton commented on #7
Thanks for your feedback @nikolay
I have just looked into this and you are right. I will try and sort out these releases this week!

Thanks again!

[2018-06-24 21:46] nikolay commented on #7
Thanks, @pjhampton! Please, reopen the issue, then. 😉

[2018-06-25 08:36] nikolay commented on #7
@pjhampton I think, you can reuse the project structure from this widely-used plugin: https://github.com/sivasamyk/logtrail

It also follows the best practice of building against Kibana's built-in packages, and not install the outdated and deprecated ones from NPM.

[2018-06-25 20:15] pjhampton commented on #7
Hey @nikolay

Can you please test the new directory in https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.3.0 for me?

I didn't realize that kibana had a `npm run-script build` script which does this for you. Let me know if it installs ok and I will backfit versions

[2018-06-25 22:38] nikolay commented on #7
@pjhampton It works, but could you please rename the plugin to just `prometheus-exporter`? The repository here makes sense to be prefixed with `kibana-`, but a Kibana plugin does not need such prefix.

[2018-06-26 15:02] pjhampton commented on #7
Sure, @nikolay - I'd love a PR if you've got time :smile:

[2018-06-27 02:39] yehaolan opened #8 "5.6.4 Support"
[code]
I will appreciate if you can have a new version of kibana-prometheus-exporter so that Kibana with version 5.6.4 can export to prometheus.

[2018-06-27 08:50] nikolay commented on #7
@pjhampton I'd love to, but right now `yarn kbn bootstrap` doesn't work for me and I can't spend time on fixing due to other priorities. I was going to try the most simple thing: install the newest Kibana environment, create an empty plugin with its toolchain, and then just put your code into the proper places, and that would ensure it's done by the book... as of now. I'm not sure about the older

[2018-06-27 20:40] pjhampton commented on #7
That's fine @nikolay - thanks for the support regardless.
I have updated this and I agree with the new package name.  https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.3.0

Hope you find this package useful!

[2018-06-27 20:40] #7 closed

[2018-06-27 20:45] pjhampton commented on #6
Hey @like-inspur

Please see: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.2.4

That package should install fine now. Thanks

[2018-06-27 20:45] #6 closed

[2018-06-27 20:47] pjhampton commented on #3
I'm going to close this out @sergeohl. If you want to chat about this further we can always reopen.

Thanks for supporting this project!

[2018-06-28 07:24] yehaolan opened #9 "5.6.4 Installation Failed"
Kibana-prometheus-exporter installation failed because if `Module Not Found Error`
[code]

[2018-06-28 21:18] pjhampton commented on #9
Hmm, I'm wondering if this is because it is the 5 series. Let me look into this further

[2018-06-29 08:31] like-inspur opened #10 "6.2.4 install failed"
I start kibana by docker with image sebp/elk-plugin:6.2.4, then I execute kibana-plugin install command:
root@5dd3dbe4a8fa:/# /opt/kibana/bin/kibana-plugin install http://10.110.17.48/monitor/kibana-prometheus-exporter-6.2.4.zip
Attempting to transfer from http://10.110.17.48/monitor/kibana-prometheus-exporter-6.2.4.zip
Transferring 41471 bytes....................
Transfer complete
Retrieving meta

[2018-07-07 20:30] pjhampton commented on #10
Hi @like-inspur

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.2.4

I have removed the bug and updated the package. Thanks

[2018-07-07 20:30] #10 closed

[2018-07-09 10:03] yehaolan opened #12 "6.2.4 Error 404"
After I installed the kibana-prometheus-exporter plugin, I got Error 404 when I tried to access `http://localhost:5601/_prometheus/metrics`

[code]

I wonder what else I need to do in order to get it viewed on the kibana dashboard.

[2018-07-09 22:17] pjhampton commented on #12
Hey @yehaolan

I just ran `bin/kibana-plugin install https://github.com/pjhampton/kibana-prometheus-exporter/releases/download/6.2.4/kibana-prometheus-exporter-6.2.4.zip` and checked it out. Seems fine.

Are you running in a container or behind a proxy by any chance?

[2018-07-10 03:36] yehaolan commented on #12
Yes. My Kibana is deployed via this [yaml file](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/kibana-deployment.yaml), and there is a Nginx deployed in front of the Kibana container.

How should I solve that problem?

[2018-07-10 15:59] nikolay commented on #7
Thank you very much, @pjhampton! Great job!

[2018-07-10 17:31] pjhampton commented on #12
Thanks @yehaolan - How exactly are you installing this plugin?

[2018-07-11 08:17] yehaolan commented on #12
Right now, I installed it with `bin/kibana-plugin install https://github.com/pjhampton/kibana-prometheus-exporter/releases/download/6.2.4/kibana-prometheus-exporter-6.2.4.zip` after I get the shell with `kubectl exec -it <kibana container> bash`.

[2018-07-16 18:18] yehaolan commented on #12
@pjhampton Any updates on the problems that getting 404?

[2018-07-16 21:01] pjhampton commented on #9
Hey. I'm not sure - not going to support the 5 series. Just 6 and above

[2018-07-16 21:01] #9 closed

[2018-07-16 21:04] pjhampton commented on #12
Hey @yehaolan

I have just downloaded *6.2.4* ES and Kibana. I then installed the plugin in the same way and it was fine.

1) Did you install the plugin while kibana was running? If so, can you restart?
2) Could the install have been interupted?

<img width="1280" alt="screen shot 2018-07-16 at 22 03 32" src="https://user-images.githubusercontent.com/8960296/42783495-29998dde-8944-11e8-91a0-11db5d

[2018-07-17 19:15] yehaolan commented on #12
Solved. I am sure running 6.2.4. I added one more layer to the kibana image which installs the plugin, and then I used that image for deployment. Thanks for your help!

[2018-07-17 19:15] #12 closed

[2018-07-24 22:07] nikolay opened #13 "Kibana 6.3.2 is out"
@pjhampton

[2018-07-25 06:08] nikolay commented on #13
Great job, @pjhampton!

[2018-08-24 11:01] nikolay opened #14 "Elasticsearch and Kibana 6.4.0 released"
@pjhampton Please, release a compatible version!

[2018-08-26 13:48] pjhampton commented on #14
Thanks, @nikolay.

Please see: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.4.0

[2018-08-31 09:46] nikolay commented on #14
@pjhampton I don't think this upgrade is trivial though. I keep getting this error:

[code]

[2018-08-31 12:34] pjhampton commented on #14
Hmm, interesting. I will look into this weekend @nikolay
Thanks for bringing this to my attention

[2018-08-31 16:46] nikolay commented on #14
@pjhampton Here's a snapshot of the metrics in 6.4.0 (with the `?extended` flag):

[code]

[2018-09-02 11:08] #14 closed

[2018-09-02 11:09] pjhampton commented on #14
Also if you could let me know where you are getting that release info from that would be great. Are you subscribed to a feed of some sort?

[2018-09-02 18:45] nikolay commented on #14
Huge thanks, @pjhampton!

[2018-09-04 02:24] zqc0512 opened #16 "Support Kibana 5 series"
not support es 5.x ?
in releaes i don't find with es 5.x zip file?
is not support?

[2018-09-04 08:03] pjhampton commented on #16
I didn't plan to @zqc0512 but I can do if there is demand for it. What version are you using and I can create something... :smile:

[2018-09-04 08:08] zqc0512 commented on #16
thanks, so.
as es 5.6.8 or the new es 5.6.11
@pjhampton

[2018-09-04 08:30] pjhampton commented on #16
Ok, no problem. I will sort this out tonight (my time - GMT)

[2018-09-04 08:32] zqc0512 commented on #16
thanks.  with update @ me

[2018-09-04 20:39] pjhampton commented on #16
Hey @zqc0512

I'm afraid Kibana 5 doesn't support a public stats API. So it's quite a substantial piece of work as I / we would need to traverse the DOM and pull all the values out of http://localhost:5601/status#?_g=()

I am interested in supporting the 5 series but it won't be likely until the weekend

[2018-09-04 20:55] pjhampton opened #17 "Support Kibana 7 series"

[2018-09-05 09:36] iankittomar commented on #16
I am also using 5.6.6, I need a support too :)

[2018-09-05 09:37] pjhampton commented on #16
No problem @iankittomar :smile: I'm going to support the entire series so I will ping you both when I'm ready to ship.

[2018-09-07 20:00] pjhampton commented on #16
@zqc0512 Goog news - https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/5.6.8

[2018-09-07 20:21] #16 closed, assigned to nobody

[2018-09-13 08:16] iankittomar opened #18 "Installing Plugin in v5.6.6"
I'm Installing plugins and at 'optimizing and caching browser bundles', its stuck more than a couple of hours.
A screenshot is attached.
![kibanaerror](https://user-images.githubusercontent.com/34299541/45475831-c0c7ae80-b73d-11e8-939c-183f4a5f7d36.png)

[2018-09-13 09:28] iankittomar commented on #18
and how do I change the path from 'http://localhost:5601/_prometheus/metrics' to 'http://localhost:5601/metrics' ? in

[2018-09-17 14:29] vladvasiliu opened #19 "invalid metric type "interval=\"1m\"} gauge""
Hi

I'm getting the above error when trying to scrape this endpoint.

Config is as follows:

Kibana 6.4.0
Prometheus 2.4.0

I think the culprit is this line:

[code]

The other load_averages are most likely problematic too, it's just that this one is the first. You should probably remove the label from the TYPE definition, as ```kibana_os_cpu_load_average``` is the same metric, whatever the interv

[2018-09-18 19:40] nikolay opened #21 "Kibana v6.4.1 got released"
@pjhampton Thanks in advance!

[2018-09-18 20:03] #19 closed

[2018-09-18 20:17] pjhampton commented on #21
Thanks @nikolay

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.4.1

You may have to update your grafana dashboard (or whatever you are using to visualize) as there was a PR to make compatible with the new Prometheus minor release.

[2018-09-18 20:17] #21 closed

[2018-09-18 21:15] nikolay commented on #21
Thank you very much, @pjhampton!

[2018-09-19 09:46] vladvasiliu opened #23 "Plugin crashes on IPv6"
Hello,

The plugin seems to have a problem when Kibana is configured to listen on IPv6. Tests ran with Kibana 6.4.1.

This might likely be related to the IPv6 address which is an expected format somewhere.
I don't have time to look into it right now, but this could be of interest: https://github.com/elastic/kibana/pull/22523

Stack trace:

[code]

[2018-09-19 12:05] pjhampton commented on #23
Thanks @vladvasiliu

I will pick this up when I have time.

[2018-09-19 12:11] pjhampton commented on #18
Hey @iankittomar

Can you please tell me more about your environment. It does indeed take a little while to optimize - but a couple of hours is crazy time.

You can't. You can fork the code and expose the uri else where

[2018-09-20 05:44] amithrh opened #24 "Clarification on install"
1. Does it require kibana rpm to be present for installation of this exporter ?
2. Will the metric be only seen in Kibana UI , an dnot in a seperate Promethues UI ( which is being run on different container )
3. Will there be any RPM release ?
4. Can i get instruction for offline installation ?

[2018-09-24 07:41] iankittomar commented on #18
I am using HashiCorp 'Consul' as I have used /metrics as default for my all services. So, in this case, ist /_prometheus/metrics so Prometheus is not able to fetch the metrics and with default /metrics, path and service remains down,

So, the question is can you change /_prometheus/metrics to /metrics which helps me to use metrics and create a Dashboard in Grafana.

Thanks

[2018-09-25 11:11] andywow opened #25 "KIbana ssl verification failed"
Hello, trying to open https://myhost:5061/_prometheus/metrics - got error 500.

In kibana logs i see:

`
Sep 25 14:06:43 sa5elk-kibana01 kibana[61671]: {"type":"error","@timestamp":"2018-09-25T11:06:43Z","tags":[],"pid":61671,"level":"error","error":{"message":"self signed certificate in certificate chain","name":"Error","stack":"Error: self signed certificate in certificate chain\n    at TLSSocke

[2018-09-25 19:50] pjhampton commented on #25
Hey

Let me get back to you on this. There was a related issue which went stale: https://github.com/pjhampton/kibana-prometheus-exporter/issues/3

Do you have other plugins installed?

[2018-09-25 19:59] #17 closed

[2018-09-25 20:12] andywow commented on #25
That issue #3 is about wrong-generated certificated - on my certificate i got correct hostname in it. I got latest elasticseach, kibana - `6.4.1`. And, yes, i got other plugins - `readonlyrest` on elasticsearch and `logtrail` on kibana.

[2018-09-25 20:15] pjhampton commented on #24
Hi @amithrh

Thanks for writing in. Sorry for the delay! See below:

On CentOS / RHEL you can install kibana as [described here](https://www.elastic.co/guide/en/kibana/current/rpm.html).

No, the UI promethues view is auxillary. You can see the prometheus metrics at http://localhost:5601/_prometheus/metrics

Not required :-)

I assume you you are working in a box with no connection to the wider in

[2018-09-25 20:15] #24 closed

[2018-10-03 07:11] nikolay opened #26 "Kibana v6.4.2 is now available"
@pjhampton Thank you in advance!

[2018-10-04 18:12] pjhampton commented on #26
Thanks for notifying me @nikolay and sorry for the delay 😄

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.4.2

[2018-10-04 18:12] #26 closed

[2018-10-04 18:17] nikolay commented on #26
Thank you very much, @pjhampton!

[2018-10-08 19:32] asmirnou opened #28 "6.4.2 version not found in releases"
https://github.com/pjhampton/kibana-prometheus-exporter/releases/download/6.4.2/kibana-prometheus-exporter-6.4.2.zip

Not found

[2018-10-09 20:31] nikolay commented on #26
@pjhampton Actually, the release is missing the plugin - only the source code is there.

[2018-10-09 21:41] pjhampton commented on #28
I apologize @asmirnou - my bad. It's there now

[2018-10-09 21:41] #28 closed

[2018-10-09 21:42] pjhampton commented on #26
I apologize @nikolay - my bad. It's there now

Thanks for pinging me!

[2018-10-11 10:36] amithrh commented on #18
@iankittomar you can clone the zip , chnage the all the _prometheus/metrics to /metrics and then install the new zip

[2018-10-11 15:29] pjhampton commented on #18
That's correct. Thanks @amithrh

@iankittomar as for why it's taking hours - I'm perplexed to be honest. Should take no more than a couple of minutes.

[2018-10-11 15:40] pjhampton commented on #24
Yeah, sorry that isn't support @amithrh

If you want you could always submit a PR if you think that would be a useful feature?

You could do it like so?
https://github.com/richardkippers/docker-elkx/blob/master/Dockerfile

[2018-10-15 10:06] pjhampton commented on #18
Reopening for investigation

[2018-10-15 20:19] pjhampton commented on #18
@iankittomar what is the deal with

[code]

can you please try:

[code]

[2018-10-16 08:09] iankittomar commented on #18
@pjhampton  I need default metrics path i.e /metrics, so I have changed a file server/routes and then again created .zip file after that I am using `bin/kibana-plugin install kibana.zip` to use my change configuration.

if I will use `bin/kibana-plugin install https://github.com/pjhampton/kibana-prometheus-exporter/releases/download/5.6.6/kibana-prometheus-exporter-5.6.6.zip` which means my proble

[2018-10-18 10:25] pauloj95 opened #29 "Error with Kibana 6.0.0"
Hi,

Im having the following error in target after install the plugin w/ Kibana 6.0.0,

![image](https://user-images.githubusercontent.com/37109548/47148367-77342b80-d2c8-11e8-84fb-2bd3a2928b90.png)

Can you help ?

Thanks
Regards,

[2018-10-18 11:49] pjhampton commented on #29
Hmm, it looks like you are using a newer version of prometheus. I will update all the releases on the weekend :+1:

[2018-10-24 06:54] amithrh opened #30 "Readme with explanation for metrics data ?"
Is it possible for any explanation for metric data being exported by this exporter ? e.g : kibana_plugin_kibana_prometheus_exporter ? what is the significance of this metric?

[2018-10-24 15:51] pjhampton commented on #30
valid point @amithrh. I will whip something together soon. I also accept PRs :)
As for what that does, it checks the health of the plugin - 1 = green, 0.5 yellow and 0 red

[2018-10-25 19:20] pjhampton commented on #30
Yeah, sure. Just shut down the elastic search instance.

[2018-10-25 20:58] pjhampton commented on #29
Hi @pauloj95 - this should be fixed now. Thanks for letting me know 👍

[2018-10-26 13:59] pauloj95 commented on #29
HI,

Thanks alot for your attention,
But now I'm getting the following error, plugn not working properly

I've kibana-remove the plugin, restarted services/machine and kibana-install this new version, I've the following error, in kibana log's.

Oct 26 14:55:28 pj-elk kibana[815]: {"type":"error","@timestamp":"2018-10-26T13:55:28Z","tags":[],"pid":815,"level":"error","message":"Uncaught error: Cann

[2018-10-26 15:50] pjhampton commented on #29
Hmm - looking.

[2018-10-26 16:20] pjhampton commented on #29
Sorry, @pauloj95 - my bad. The api changed in 6.4.0 and I accidentally used that reference in this release. That should be good now.

[2018-10-26 16:20] #29 closed

[2018-10-26 17:13] pauloj95 commented on #29
Yes, now its working like a charm,

THanks a lot!

[2018-11-04 18:28] rajeshwer opened #31 "Support basic auth in plugin"
Basic auth is enabled in my kibana/elasticsearch
how do i pass the user/pass while using this plugin??

{
statusCode: 500,
error: "Internal Server Error",
message: "An internal server error occurred"
}

version: 6.3.2

[2018-11-05 11:05] kiranps11 opened #32 "Plugin installation was unsuccessful due to error "No valid url specified.""
Hello ,
I am not able to install the kibana-prometheus-exporter 6.2.2 plugings by using the below commands.
 bin/kibana-plugin install https://github.com/pjhampton/kibana-prometheus-exporter/releases/download/6.2.2/kibana-prometheus-exporter-6.2.2.zip

Getting the Below Error :
Plugin installation was unsuccessful due to error "No valid url specified."

[2018-11-05 11:41] pjhampton commented on #32
URL is valid for me and others. Are you behind a firewall?

[2018-11-05 14:02] kiranps11 commented on #32
yes,

[2018-11-05 19:31] pjhampton commented on #30
Hey.

I added some detail here: https://github.com/pjhampton/kibana-prometheus-exporter/wiki

Thanks for the suggestion and pushing this project forward 😄

[2018-11-05 19:31] #30 closed

[2018-11-06 03:34] kiranps11 commented on #32
when I tried to download I am getting the error as "File name too long

Cannot write to "
Command used. : curl -k https://github.com/pjhampton/kibana-prometheus-exporter/releases/download/6.2.0/kibana-prometheus-exporter-6.2.0.zip > kibana-prometheus-exporter-6.2.0.zip

[2018-11-06 12:17] pjhampton commented on #32
@kiranps11 I take it you are on some sort of rhel/centos box with no wget?

[code]

then `mv` it into your `kibana/plugins` dir and `unzip`

[2018-11-07 17:47] nikolay opened #33 "Elastic 6.4.3 is available"
@pjhampton Please, release a compatible version. Thanks!

[2018-11-07 21:09] pjhampton commented on #33
Thanks as always @nikolay

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.4.3

You will want to check back in a couple of weeks. I will be adding support for authentication and ssl
Also, some of the metrics names have changed to make compatible with the new Prometheus so you may need to update your dashboard

[2018-11-07 21:09] #33 closed

[2018-11-07 22:09] nikolay commented on #33
Thank you, @pjhampton!

[2018-11-07 22:34] pjhampton commented on #31
Hey @rajeshwer

How have you set up basic auth? Behind nginx or something?

[2018-11-07 22:36] rajeshwer commented on #31
yes

[2018-11-11 19:37] amithrh commented on #30
Thanks Peter , its nice .

On Tue, Nov 6, 2018 at 1:01 AM Peter Hampton <notifications@github.com>
wrote:

[2018-11-12 09:10] anandsinghkunwar commented on #25
Is there any update on this? @pjhampton

[2018-11-12 09:49] pjhampton commented on #25
Hi @anandsinghkunwar - I'm afraid not. I haven't had the time as yet.

[2018-11-14 13:36] pjhampton opened #35 "Merge updated metric names back in time"
Need to merge PR https://github.com/pjhampton/kibana-prometheus-exporter/pull/20 back into the other branches and release

[2018-11-14 20:37] nikolay opened #36 "Elastic 6.5.0 is available"
@pjhampton Please, release a compatible version. Thanks!

[2018-11-23 18:16] pjhampton commented on #25
Hi @anandsinghkunwar / @andywow

Is it the following the following that should be added to the request?

[code]

I don't have a clear run to test.

[2018-11-23 19:02] andywow commented on #25
Hi, @pjhampton,

i think, yes, i need this settings. But now i don't work with kibana, so i can't test

[2018-11-24 15:06] pjhampton commented on #23
Hi @vladvasiliu

I haven't done this before and have no way to test it. How can I build the request if all those data elements are null?

[code]

[2018-11-24 16:11] vladvasiliu commented on #23
HI @pjhampton ,

I'm not sure what this URL field is, but if it's the url the plugin listens on, this might be related to a Kibana bug that made it crash on ipv6.
I'm not sure how the fixed it, especially since I'm not sure how it got there in the first place, as ipv6 had been working fine.
Here's the bug: https://github.com/elastic/kibana/issues/22451
Possibly relevant: https://github.com/elastic

[2018-11-26 15:48] siwyd commented on #35
Would appreciate this for the 6.3.2 release as AWS is still stuck on 6.3 for now for their hosted service.

[2018-11-26 17:06] nikolay opened #40 "Elastic v6.5.1 is now available"
@pjhampton Please, release a compatible version. Thanks in advance!

[2018-11-26 20:37] pjhampton commented on #35
Hey @siwyd

This was introduced in 6.3.2 so it should work out of the box. Are you having issues?

[2018-11-26 23:05] nikolay commented on #40
I saw those features and I thank you for all your great work, @pjhampton!

[2018-11-27 09:42] pjhampton commented on #35
Yeah, you are right - apologies!
I will look into this tonight

[2018-11-27 09:43] siwyd commented on #35
Cool, cheers!!

[2018-11-27 11:03] nikolay commented on #40
@pjhampton It does not work though:

[code]

[2018-11-27 19:46] nikolay commented on #40
Sorry, @pjhampton, I had to [fork it](https://github.com/Banno/kibana-prometheus-exporter) as I really needed to push the bugfix release of v6.5.1!

[2018-11-27 20:01] pjhampton commented on #35
Please try again @siwyd 👍

[2018-11-27 20:12] siwyd commented on #35
@pjhampton I seem to getting a build error with above Dockerfile:
[code]

[2018-11-27 20:20] pjhampton commented on #35
Woah - that branch was borked. Ok - for reals this time. Please try again.

[2018-11-27 20:43] siwyd commented on #35
Works! Thanks very much!

[2018-11-27 20:46] pjhampton commented on #40
Sorry, @nikolay - I got stuck in work. There was a dumb validation run in Kibana that I didn't know about. I have just tested the below and it's working now.

[code]

Thanks for being a test subject 😄

[2018-11-27 20:46] #40 closed

[2018-11-27 22:07] nikolay commented on #40
@pjhampton Don't worry at all! Again, thanks for your great work and commitment!

[2018-12-05 17:37] nikolay opened #43 "Elastic v6.5.2 is now available"
@pjhampton Please, release a compatible version! Thanks!

And, by the way, even v6.5.1 doesn't work - the Prometheus Exporter page is blank.

[2018-12-05 19:53] pjhampton commented on #43
Hi @nikolay

That is weird. I just ran
[code]

And it works fine. Possibly some of the experimental stuff. Do you have any other weird setup in your config. I will hold on releasing the patch version until we get to the bottom of this. Until then you can just bump your fork version.

<img width="1280" alt="screenshot 2018-12-05 at 19 51 20" src="https://user-images.githubusercontent.com/8960296/49

[2018-12-05 19:57] pjhampton commented on #43
How are you deploying btw?

[2018-12-05 20:04] nikolay commented on #43
@pjhampton I just realized I use the fork, not your assets. Once you release 6.5.2, I will switch to it and will tell if you there are any problems. Sorry for the possible false alarm!

[2018-12-05 20:14] pjhampton commented on #43
@nikolay ok, cool.

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.5.2

I will keep an eye on these as there are now 2 releases based on the experimental branch. Let me know if there are any issues.

[2018-12-05 20:14] #43 closed

[2018-12-05 20:17] nikolay commented on #43
Thank you, @pjhampton!

[2018-12-11 09:53] Harish-Sridhar opened #46 "Explanation about some of the Kibana metrics exported is missing"
The Kibana-prometheus-exporter is exporting some metrics like the following:

kibana_response_average 0
kibana_response_max 0
kibana_concurrent_connections 5
kibana_os_load1 2.2490234375
kibana_os_load5 2.22802734375
kibana_os_load15 2.90576171875

The information about these metrics are missing in the Wiki page.
For example, what is the base unit used for the kibana response metric?

[2018-12-12 16:29] nikolay opened #47 "Elastic v6.5.3 is now available"
@pjhampton Please, release a compatible version. Thanks in advance!

[2018-12-12 18:48] pjhampton commented on #47
Thanks @nikolay 😄

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.5.3

[2018-12-12 18:48] #47 closed

[2018-12-12 19:56] pjhampton commented on #23
I'm going to close this guys. I can't reproduce or find any info on it. Sorry!

[2018-12-12 19:56] #23 closed

[2018-12-12 21:31] pjhampton commented on #46
done.

[2018-12-12 21:31] #46 closed

[2018-12-12 21:45] pjhampton commented on #31
Just to let you know, this feature has been added, it just needs to be merged back in time and rereleased.

[2018-12-12 21:45] pjhampton commented on #18
Just to let you know, this feature has been added, it just needs to be merged back in time and rereleased.

[2018-12-13 05:20] nikolay commented on #47
Thank you, @pjhampton!

[2018-12-16 01:39] rameshpitchaiah opened #49 "Exporter is crashing due to read property 'heap_max_in_bytes' of undefined"
Kibana is running as k8s pod with  prometheus exporter installed on it. But it is crashing with the read property undefined
Kibana Version: 6.4.0

Setting in Kibana.yaml
server.basePath: /kibana
server.host: 0.0.0.0
server.name: kibana
~

Log Snippet:

[code]

Getting 500 Error when i execute curl

[code]

[2018-12-26 16:35] nikolay opened #51 "Elastic v6.5.4 is now available"
@pjhampton Please, release compatible artifacts. Thanks in advance!

[2018-12-27 20:49] #51 closed

[2018-12-27 20:54] pjhampton commented on #51
Awesome, thanks so much @nikolay

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.5.4

[2018-12-27 21:13] nikolay commented on #51
Thanks for the belated Christmas present! Happy New Year, @pjhampton!

[2019-01-28 20:57] davsouza commented on #35
I am having the same issue with 6.2.2, we have also been stuck at this version for sometime, could you merge the change?
[code]

[2019-01-30 21:42] nikolay opened #54 "Elastic v6.6.0 is now available"
@pjhampton Please, release compatible artifacts! Thanks in advance!

[2019-01-31 21:47] #54 closed

[2019-01-31 21:55] nikolay commented on #54
Thank you, @pjhampton!!!

[2019-01-31 22:00] pjhampton commented on #54
Thanks so much @nikolay

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.6.0

Please note I had to do a bit of refactoring and ended up adding a new external dep to make the code a bit better - https://github.com/request/request-promise
See PR #55 for more info.

[2019-01-31 22:19] nikolay commented on #54
By the way, @pjhampton, it looks like `request-promise` already supports Basic HTTP auth, so, you can simplify the code even further: https://stackoverflow.com/questions/38455043/node-js-request-promise-for-put-with-auth

[2019-02-01 18:49] nikolay commented on #54
@pjhampton Awesome! Thank you!

[2019-02-07 14:42] pathikritmodak commented on #49
Any update on this?

[2019-02-07 20:08] pjhampton commented on #49
Yeah, I think I know the issue. This branch needs to be merged back in time: https://github.com/pjhampton/kibana-prometheus-exporter/blob/release/6.5.4/server/exporter/prometheus.js

Can you confirm the below curl XGET is ok with your basepath set up?

[code]

[2019-02-08 18:21] pathikritmodak commented on #49
Shows the same 500 error for me, I don't have the basepath set, also kibana isn't shared with ES, it's a separate instance behind proxy.

[2019-02-11 14:30] pathikritmodak commented on #49
Let me know what details you would need to help debugging this further.

[2019-02-11 14:42] pjhampton commented on #49
I think this might be 2 separate issues. Are you 2 working together so I can rule it out?

Do you have a stack trace like the one above or nothing at all?

[2019-02-11 16:29] pathikritmodak commented on #49
No we aren't working together. I was getting the exact same stacktrace hence posted here.

I updated to the latest Kibana and the problem went away.

[2019-02-11 22:49] pjhampton commented on #49
Hey.

I updated the release. https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.4.0
Let me know if you have any more issues.

[2019-02-11 22:49] #49 closed

[2019-02-21 08:52] nikolay opened #56 "Elastic v6.6.1 is now available"
@pjhampton Please, release compatible artifacts. Big thanks in advance!

[2019-02-21 21:30] pjhampton commented on #56
Thanks as always @nikolay ❤️

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.6.1

[2019-02-21 21:30] #56 closed

[2019-02-21 21:40] nikolay commented on #56
Thank you, @pjhampton!

[2019-02-26 03:31] nikolay opened #58 "Base Path Rewrite: Error on Kibana v6 to v6.7.1"
I keep getting `TypeError: Uncaught error: Cannot read property 'overall' of undefined`.

[2019-02-26 19:57] pjhampton commented on #58
@nikolay Hey. I can't reproduce for some reason. I `g pull`'ed from master and installed over `kibana-plugin`

I do see a call here, but I would have imagined that function would have returned 0. Is there anything that you could have changed on your end?

[code]

Can you please describe your environment and please dump the contents from: `<host etc>/api/status?extended`?

[2019-02-26 23:33] nikolay commented on #58
@pjhampton I am using this in Kubernetes and it hasn't been working since we upgraded to Elastic v6 as far as I can recall. I am not familiar with Kibana plugin development, but can't you get the [Status](https://github.com/elastic/kibana/blob/6.6/src/server/status/status.js) object from the server without having to go thru the whole REST API layer, which would make this faster and less prone to e

[2019-02-27 09:09] pjhampton commented on #58
Hey @nikolay

I'm afraid not, no. I have already experimented with this and to make that work I would have to create a circular dependency. I have had similar reports that people are having similar problems behind an nginx reverse proxy. Can you give me more info on kubernetes?

[2019-03-19 15:37] nikolay opened #60 "Elatic v6.6.2 is now available"
@pjhampton Please, release compatible artifacts. Thanks in advance!

[2019-03-19 15:38] nikolay commented on #60
Duh!

[2019-03-19 15:38] #60 closed

[2019-03-27 09:20] nikolay opened #61 "Elastic v6.7.0 is now available"
@pjhampton Please, release compatible artifacts! Thanks!

[2019-03-31 20:45] pjhampton commented on #61
Thanks so much @nikolay

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.7.0

PS still looking into making this work with Kubernetes :)

[2019-03-31 20:45] #61 closed

[2019-04-01 15:47] nikolay commented on #61
Thank you very much, @pjhampton!

[2019-04-05 16:34] nikolay opened #63 "Elastic v6.7.1 is now available"
@pjhampton I guess, a bug release was pushed shortly after v6.7.0. Can you please release? Big thanks in advance!

[2019-04-06 22:37] pjhampton commented on #63
Thanks as always @nikolay :shipit: ✨ 😄

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.7.1

[2019-04-06 22:37] #63 closed

[2019-04-07 08:24] nikolay commented on #63
Thank you, @pjhampton! 🙇

[2019-04-09 00:30] nikolay commented on #58
Here's what's in the logs:

[code]

[2019-04-09 00:31] nikolay commented on #58
I have `SERVER_BASEPATH` set to `/kibana` and `SERVER_REWRITEBASEPATH` to `false`.

[2019-04-10 14:28] JPLachance commented on #31
Hello!

I just installed this plugin in Kibana 6.3.2. Our Elasticsearch server is using X-Pack and each time I try to access the `/_prometheus/metrics` endpoint, I get an error 500.

From the Kibana container, if I call the endpoint with curl:
[code]

Was your support for X-Pack basic authentication released for Kibana 6.3.2? If no, how can I help? :) I'm stuck with Kibana 6.3.2 and I cannot upgra

[2019-04-10 18:24] nikolay opened #65 "Elastic v7.0.0 is now available"
@pjhampton Please, release compatible artifacts! Huge thanks in advance! 🙇

[2019-04-10 19:53] pjhampton commented on #31
Thanks guys. I have added basic auth to 6.3.2

The release process is a real pain in the ass because of the way kibana enforces it . and I have been putting this off until I fix https://github.com/pjhampton/kibana-prometheus-exporter/issues/58 as I don't want to redo these releases twice.

As there is enough demand for 6.3.2 though, see:
See https://github.com/pjhampton/kibana-prometheus-exporter/

[2019-04-10 20:26] pjhampton commented on #65
Thanks so much @nikolay! ❤️ T'was a simple version bump but looks like it might need a new icon in the UI which I will sort out sometime

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.0.0

<img width="1280" alt="Screenshot 2019-04-10 at 21 15 20" src="https://user-images.githubusercontent.com/8960296/55910793-32ce7c00-5bd7-11e9-88f9-48bcac9f3520.png">

[2019-04-10 20:26] #65 closed

[2019-04-10 20:38] nikolay commented on #65
Thank you, @pjhampton!

[2019-04-11 12:40] pjhampton commented on #58
Finally managed to replicate. Will get a fix out soon 👍

[2019-04-11 20:57] JPLachance commented on #3
Hello!

Since you released a version of your plugin for Kibana 6.3.2 that supports the X-Pack authentication (#31), I now hit the exact same issue my colleague @sergeohl reported.

In my kibana.yml file, I enabled SSL:
[code]

Then, when I try to access the `https://my.domain.com/_prometheus/metrics` endpoint, I either see:
[code]
when I use a self signed certificate, or:
[code]
when I use a legit

[2019-04-12 08:37] pjhampton commented on #3
Reopening for investigation.

[2019-04-12 08:41] pjhampton commented on #3
I suppose I could implement this and create a release candidate. I won't be able to reproduce this easily in my set up so would you mind working with me on this one to install the release candidate and tell me if it works?

https://github.com/request/request#tlsssl-protocol

[2019-04-16 11:50] ysundar opened #67 "Prometheus page is not visible on kibana page when searchguard enabled"
We have installed kibana-promethues-exporter plugin in kibana. This plugin is working fine without any issues without searchguard. Promotues page is not visible in kibana page when we install searchguard plugin.
We are using 6.6.1 version for kibana, promtues and searchguard.
**Configurations** :-:
server.ssl.enabled: true
server.ssl.certificate: /path/to/your/server.crt
server.ssl.key: /path/to/y

[2019-04-16 15:14] JPLachance commented on #3
Hello!

Yes, I can test it for you. Just ship me the link then I'll build a new container image with your plugin in it. I use Kibana 6.3.2.

In my kibana.yml file, I have:
[code]

I think that is why I see the error `Hostname/IP doesn't match certificate's altnames: "IP: 0.0.0.0 is not in the cert's list: "`.

Since my Kibana container runs in Kubernetes, I don't think I can set another value for

[2019-04-16 20:08] pjhampton commented on #3
@JPLachance

See: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.3.2-ssl-rc

Let me know if it works / doesn't! :) Thanks for your support

[2019-04-16 20:10] pjhampton commented on #67
Thanks @ysundar!

We're looking at SSL here: https://github.com/pjhampton/kibana-prometheus-exporter/issues/3 but will keep this open because of searchguard.

[2019-04-16 20:15] pjhampton opened #68 "Update MIT License to Apache 2.0"
I've had 2 people ask me to change the license which I am fine with. Would love a PR for this!

[2019-04-18 09:38] JPLachance commented on #3
Hello,

I installed it and I got the following error on boot:
[code]

Is there anything I need to configure?

Thanks!

[2019-04-18 15:18] pjhampton commented on #3
@JPLachance please try again. I updated the rc binary.

[2019-04-19 13:11] JPLachance commented on #3
Hello!

I'm back to:
[code]

My guess is that the JS code takes the value of `server.host` in the `kibana.yml` file and request is using that value (0.0.0.0) for the certificate validation.

Do we really need a certificate validation between the Kibana Prometheus exporter and the Kibana server? :) I think we could simply drop that validation, it's not a critical security issue for that specific ta

[2019-04-19 15:00] pjhampton commented on #3
@JPLachance please try again. I updated the rc binary.

Yeah - I've now applied your suggestion. Might need to add a bit more config in though to bypass

[2019-04-19 16:16] pjhampton commented on #68
commited in https://github.com/pjhampton/kibana-prometheus-exporter/commit/2c43f7f492c225ee9781b61346e3ca78244a6593

[2019-04-19 16:16] #68 closed

[2019-04-19 16:17] pjhampton commented on #25
Closing this as there is now:

* https://github.com/pjhampton/kibana-prometheus-exporter/issues/3
* https://github.com/pjhampton/kibana-prometheus-exporter/issues/67

[2019-04-19 16:17] #25 closed

[2019-04-22 11:49] pjhampton commented on #18
I'm going to close this for now and backport soon.

[2019-04-22 11:49] #18 closed

[2019-04-22 20:58] pjhampton commented on #58
Sorry, time went on...

@nikolay what version are you running so I can get a release candidate out for testing? I've pushed a fix. This has nothing to do with the Kubernetes runtime (I got it wrong)

[2019-04-23 04:27] korjavin opened #69 "Feature Request: Grafana dashboard"
Is there any grafana dashboard for this exporter?

[2019-04-23 07:41] nikolay commented on #58
v6.7.1 at the moment.

[2019-04-23 09:22] pjhampton commented on #69
No, but I can supply one. I will submit a PR later and you can be reviewer.

[2019-04-23 19:14] pjhampton commented on #58
Thanks @nikolay

Hopefully this solves your problem: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.7.1-rc

You can download the zip first and inspect - just the master repo with an updated package version with a lot of garbage removed

[2019-04-23 19:15] pjhampton commented on #3
@JPLachance I have managed to replicate this now and that rc should now work. Please confirm.

[2019-04-23 20:56] #69 closed

[2019-04-24 12:41] JPLachance commented on #3
Hello!

I'm sorry, I was traveling 🙂

This final version works as expected 🎉

Thanks a lot for this fix.

Will you release an official version with this fix?

Regards,
JP

[2019-04-24 14:25] pjhampton commented on #3
That's cool @JPLachance - hope you had a good time.
Great to read. Yeah - I will release tonight :)

[2019-04-24 20:10] pjhampton commented on #3
Hey it's updated here: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.3.2

[2019-04-24 20:10] #3 closed

[2019-04-25 15:47] nikolay commented on #58
Thank you, @pjhampton! I will test it today!

[2019-05-01 11:19] pjhampton commented on #58
hey @nikolay - I know you are insanely busy but have you had a chance to check this out as yet?

[2019-05-07 06:55] nikolay opened #71 "Elastic v7.0.1 and v6.7.2 are now available"
@pjhampton Please, release compatible artifacts! Big thanks in advance! :bow:

[2019-05-10 23:40] pjhampton commented on #58
Hiya @nikolay - just pinging to see if you had a chance so I can merge master back in time?

[2019-05-11 21:47] pjhampton commented on #71
Thanks @nikolay :shipit: 🚀

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.7.2
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.0.1

[2019-05-11 21:47] #71 closed

[2019-05-16 15:53] nikolay commented on #58
@pjhampton Sorry, we've been busy at work, but I'm testing it right now! Thank you for your great patience!

[2019-05-16 19:00] nikolay commented on #58
The fix worked. You should probably update the icon though!

![kibana-dashboard](https://user-images.githubusercontent.com/2882/57879658-d233ef80-77d1-11e9-8470-f864e32216b6.png)

[Here's](https://upload.wikimedia.org/wikipedia/en/3/38/Prometheus_software_logo.svg) the logo in SVG format, but if you want, I can do it for you.

[2019-05-16 19:01] nikolay commented on #58
The logo size also looks smaller and the 'Prometheus` text is misaligned. Let me dig into that, too!

[2019-05-16 19:15] nikolay commented on #58
I made the logo 32x32 px, optimized it, and made it white:

[code]

[2019-05-16 19:16] nikolay commented on #58
I see that all other icons are straight in SVG - maybe this is how you should use this as well instead of making it a PNG.

[2019-05-16 19:20] nikolay commented on #58
@pjhampton Please, see above! Thanks!

[2019-05-16 19:27] pjhampton commented on #58
@nikolay 🙇 ❤️ 💛 🙇 Thanks so much! I agree regarding the icon - this will look way better.
I'll ping you when I have updated this all.

[2019-05-16 20:58] nikolay commented on #58
You know what, maybe the icon should be an outline one, not sold. Let me try to make it look like the standard ones!

[2019-05-16 21:05] nikolay commented on #58
Okay, here it is:

[code]

[2019-05-20 15:56] nikolay opened #73 "Elastic v6.8.0 and v7.1.0 are now available"
@pjhampton Please, release compatible artifacts! Thanks in advance!

[2019-05-21 15:32] nikolay commented on #58
@pjhampton Please, use the last icon.

[2019-05-21 19:19] pjhampton commented on #58
Thanks @nikolay 😸

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.0

I added your latest icon in master and the above 6.X.X release. I was just screwing about yesterday with the icon on the 7 releases. It looks awesome on 6, but it's not the right fit for 7 and was just experimenting.

Are you ok for me to delete that 6.7.1-rc, or do you need me to backport these changes

[2019-05-21 19:21] pjhampton commented on #58
<img width="1280" alt="Screenshot 2019-05-20 at 19 58 45" src="https://user-images.githubusercontent.com/8960296/58124283-ca2ae400-7c05-11e9-883f-97ab0a99e83c.png">

[2019-05-21 20:53] nikolay commented on #58
Yes, you can delete v6.7.1-rc. Hmmm, is this v6.8 or v7.1? It looks like they've changed completely the design in v7, so, the icon I gave you is not suitable for v7+.

[2019-05-22 08:08] pjhampton commented on #58
Yeah, they changed the design from 7 onwards again. That's cool though, we can still use that svg you rolled for everything before 7

[2019-05-24 06:57] eozcany opened #74 "Feature request for kibana 5.3.0"
We hava kibana 5.3.0 and want to use kibana exporter for prometheus
If It is possible, could you publish a feature which meet with kibana 5.3.0

[2019-05-24 10:38] pjhampton commented on #74
@eozcany i'll see what I can do this weekend

[2019-05-24 21:49] pjhampton commented on #73
💛 💚 Thanks @nikolay ❤️ 💙  - both of those now released!

[2019-05-24 21:49] #73 closed

[2019-05-25 11:05] pjhampton commented on #74
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/5.3.0

There you go. Please star the repo to show support.

[2019-05-25 20:31] eozcany commented on #74
Thank you so much @pjhampton

[2019-05-25 20:52] eozcany commented on #74
@pjhampton

I have installed succesfully
But I cannot see the metrics.

Could you please advice what I can do?

![image](https://user-images.githubusercontent.com/42844314/58374507-ebfad280-7f47-11e9-8b17-5d2aba9195e2.png)

[2019-05-26 05:20] duhang opened #76 "K-P-E doesn't work on Kibana OSS 7.0.1 - Missing module "request-promise"?"
**Describe the bug**
A clear and concise description of what the bug is.

I install kibana-prometheus-exporter 7.0.1 on kibana-oss 7.0.1. But I'm gettin error
when trying to start Kibana from a docker container.

**To Reproduce**
Steps to reproduce the behavior:

Install K-P-E 7.0.1 on Kibana OSS 7.0.1 and start Kibana. It should fail with
Cannot find module 'request-promise'

{"type":"log","@time

[2019-05-26 06:19] #76 closed

[2019-05-26 06:19] duhang commented on #76
Sorry, looks like a lot of new dependencies had been added since 6.5.

[2019-05-26 14:42] pjhampton commented on #76
@duhang did you mean to close this? It's possible the build was done without an `npm i`.
Let me know.

[2019-05-26 14:44] pjhampton commented on #74
can you please share me your kibana config yml file please @eozcany - feel free to leave off sensitive info if there is any

[2019-05-27 15:16] eozcany commented on #74
Hello @pjhampton
Here is the kibana.yml file

Thanks for your investigations.

[kibana.yml.txt](https://github.com/pjhampton/kibana-prometheus-exporter/files/3224265/kibana.yml.txt)

[2019-05-27 19:09] pjhampton commented on #74
I installed a fresh version of this with the plugin @eozcany and it works ok. Did you remember to restart kibana once you installed it?

[2019-05-27 21:29] eozcany commented on #74
Yes, It works now. :) Awesome. Thank you very much

[2019-05-27 23:11] eozcany commented on #74
@pjhampton

I can scrape kibana_status and a few default metrics,
But When I click on Prometheus tab in kibana, It throws a page as below.
Do you have any idea?

![image](https://user-images.githubusercontent.com/42844314/58441820-e3440100-80ed-11e9-8eed-5974a265f20e.png)

[2019-05-28 04:41] duhang opened #77 "The new Prometheus icon has been washed out on Kibana 7"
**Describe the bug**
A clear and concise description of what the bug is.

The Prometheus icon prometheus.svg is white/grey out on Kibana 7.1 (hasn't tried 7.0.1 yet, but guess it will be the same)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2019-05-28 07:58] pjhampton commented on #74
Hey @eozcany

Yeah, the bad screen is a bug. I will fix that later on.
As for the handful of metrics - I'm afraid that is all that is really supplied by the < 5.6 status endpoint so I can't get you much more :( sorry!

[2019-05-28 07:58] pjhampton commented on #77
Agreed. This needs fixed in >7. I'm on it! :+1:

[2019-05-28 17:50] nikolay opened #78 "Issues with v6.8.0"
[code]

[2019-05-28 19:05] nikolay commented on #78
@pjhampton Sorry, I just tried to build my custom Docker image and it kept failing.

[2019-05-28 19:45] pjhampton commented on #78
Hey @nikolay

Looks like I made the same mistake in 6.8.0 as I did in 7.1.0. I have updated the branch and artifact. Can you please try again?

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.0

[2019-05-28 20:40] nikolay commented on #78
All working now! Thank you, @pjhampton! 🎉

[2019-05-28 20:40] #78 closed

[2019-05-28 21:18] pjhampton opened #79 "Set up dependabot to manage stale deps"

[2019-05-28 23:43] eozcany commented on #74
No worries,
I am pushing responsible It team to upgrade it.
Thank you for your all assistances.

[2019-05-29 15:43] pjhampton commented on #79
done

[2019-05-29 15:43] #79 closed

[2019-05-29 16:08] nikolay commented on #77
Even the icon for v6 I provided does not look well. I'm trying to fix it.

[2019-05-29 16:09] nikolay opened #84 "Elastic v7.1.1 is now available"
@pjhampton Please, release compatible artifacts! Thanks!

[2019-05-30 08:20] pjhampton commented on #67
timing this issue out.

[2019-05-30 08:20] #67 closed

[2019-06-01 22:30] #84 closed

[2019-06-01 22:42] pjhampton commented on #84
Thanks for giving me the heads up as usual @nikolay 💙 💛 ❤️

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.1.1

[2019-06-03 16:20] nikolay commented on #84
Thank you for all your great work, @pjhampton!

[2019-06-03 20:05] pjhampton commented on #74
Hope you got sorted @eozcany :-)

[2019-06-03 20:05] #74 closed

[2019-06-11 11:17] gogi2811 commented on #49
I am getting the same error as

I am getting the exact same error @pjhampton .
is there a different release for 6.4.0 version?

[2019-06-11 13:33] pjhampton commented on #49
@gogi2811 I'm not sure -  please open a new issue and I will look into it for you :smiley_cat:

[2019-06-12 01:33] gogi2811 opened #86 ""Uncaught error: Cannot read property 'heap_max_in_bytes' of undefined""
Hi @pjhampton
 I am getting below error with kibana-exporter version 6.4.0
OS - Linux 16.04

`{"type":"error","@timestamp":"2019-06-12T01:25:46Z","tags":[],"pid":29583,"level":"error","error":{"message":"Uncaught error: Cannot read property 'heap_max_in_bytes' of undefined","name":"TypeError","stack":"TypeError: Uncaught error: Cannot read property 'heap_max_in_bytes' of undefined\n    at exports.

[2019-06-12 19:05] pjhampton commented on #86
looking...

[2019-06-12 20:39] pjhampton commented on #86
That should be fixed now @gogi2811. Please confirm

[2019-06-13 03:13] gogi2811 commented on #86
did you update the release @pjhampton ?

[2019-06-13 08:18] pjhampton commented on #86
Yes, I updated the release @gogi2811

[2019-06-14 20:57] pjhampton commented on #86
Going to time this out @gogi2811. If you still think there is problems let me know and will reopen.

[2019-06-14 20:57] #86 closed

[2019-06-26 00:31] nikolay opened #90 "Elastic v6.8.1 is now available"
@pjhampton Please, release compatible artifacts! Thanks!

[2019-06-26 00:31] nikolay opened #91 "Elastic v7.2.0 is now available"
@pjhampton Please, release compatible artifacts! Thanks!

[2019-06-27 21:07] pjhampton commented on #91
Thanks @nikolay as usual! https://github.com/pjhampton/kibana-prometheus-exporter/pull/92

I will do the other tomorrow when I find some time 😄

[2019-06-27 21:07] #91 closed

[2019-06-28 18:15] pjhampton commented on #90
Thanks @nikolay 💙

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.1

[2019-06-28 18:15] #90 closed

[2019-06-28 18:48] nikolay commented on #90
Thank you, @pjhampton! Great job!

[2019-06-28 18:49] nikolay commented on #91
Thank you, @pjhampton! Great job!

[2019-07-20 22:21] pjhampton opened #95 "Set up ci pipeline"
Setup CI pipeline to run tests and release

[2019-08-02 21:17] coddy opened #100 "Elastic v6.8.2 is now available"
@pjhampton Please, release a compatible version! Thanks!

[2019-08-03 21:05] pjhampton commented on #100
Thanks so much @coddy ❤️
Congrats on your first github issue! Hope to see you around.

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.2

[2019-08-03 21:05] #100 closed

[2019-08-13 21:41] gracedo commented on #58
Hi! I believe I may be seeing this same issue with v6.7.0 in my setup (running on Kubernetes) - would it be possible to port this fix over to v6.7.0 as well?

[code]

[2019-08-14 20:23] pjhampton commented on #58
Hi @gracedo this has been backported https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.7.0

[2019-08-14 21:20] gracedo commented on #58
@pjhampton thanks so much! This works perfectly now 👍

Only nit is that the icon is slightly smaller and misaligned - not a huge deal but in case it's easy enough to make the fix :)

![image](https://user-images.githubusercontent.com/5897740/63056212-6dedfe00-be9c-11e9-8e1f-9c94ac896c3c.png)

[2019-08-15 20:49] pjhampton commented on #58
Great, thanks @gracedo
I'm looking at this in #77

[2019-08-15 21:41] gracedo commented on #58
I had the same thought when I was working with this yesterday! I agree that there isn't much value to having a UI for this.  I can't imagine Kibana users will be interested in seeing a bunch of prometheus-formatted metrics or know what to do with the raw data -- if anything, it might be confusing.

[2019-08-16 10:48] pjhampton commented on #58
@nikolay any opinions on this?

[2019-08-23 15:07] nikhil-bhat commented on #14
hi @pjhampton i was able to avoid the ssl issue #3  in the 6.6.2 version of plugin.
could you release a version of 6.4.0 with support for ssl .
I tried comparing code between 6.4.0 release and 6.6.2 the folder structure has changed .
but i could find the reason why the ssl error is not ocuuring . is it because of different library being used  request-promise 6.6.2 and request in 6.4.0

[2019-08-23 21:05] pjhampton commented on #14
Hey @nikhil-bhat 👋 ,

Sure thing. Please open a new issue though than surface old ones. That's how things never get done :)

[2019-09-09 00:25] sherifabdlnaby opened #104 "7.3.0 is incorrectly tagged 7.30"
7.3.0 is incorrectly tagged 7.30.

[2019-09-09 09:08] pjhampton commented on #104
Thanks @sherifabdlnaby! Fixed.

[2019-09-09 09:08] #104 closed

[2019-09-09 19:57] #35 closed

[2019-09-17 00:07] nikolay opened #105 "Elastic v6.8.3 is now available"
Please, release compatible artifacts! Thanks in advance, @pjhampton, and thank you for the hard work!

[2019-09-18 19:19] pjhampton commented on #105
Thanks so much @nikolay 🤘😃🤘

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.3

[2019-09-18 19:19] #105 closed

[2019-09-18 22:42] nikolay commented on #105
Thanks you! 🙇

[2019-10-05 22:06] pjhampton opened #108 "Remove UI"
Remove UI from the app. Users don't see the point in the UI anymore as the point of this app is to export machine-readable metrics.

[2019-10-05 22:10] zcharleshebert commented on #108
Hello there, I would like to help you with that.

[2019-10-05 22:14] pjhampton commented on #108
Ok, @zcharleshebert. It's all yours.

[2019-10-06 01:14] zcharleshebert commented on #108
@pjhampton thought that would be a pretty easy one but I actually failed to setup a Kibana dev env for your plugin. That said, I'm sorry for not trying that in the first place.
I'll pass to someone used to it.

[2019-10-06 11:14] pjhampton commented on #108
That's no problem @zcharleshebert

[2019-10-19 09:54] pjhampton commented on #108
Doesn't seem like anyone wants to take this up. I will get rid of it in the 7.4.0 release trunk.

[2019-10-19 09:54] #108 closed

[2019-10-21 18:46] pjhampton opened #110 "Update for Kibana 7.3.2"
I would love some help creating a 7.3.2 release
Please see a previous PR on how to do it.

[2019-10-21 19:09] #110 closed

[2019-10-22 18:00] pjhampton opened #112 "Upgrade to 7.4.0"
I would love some help creating a 7.4.0 release
Please see a previous PR on how to do it.

[2019-10-23 01:07] johnstonbl01 commented on #112
👋 I'll pick this one up!

[2019-10-23 08:33] #112 closed

[2019-10-23 19:36] pjhampton commented on #77
The UI is now gone from this plugin due to feedback from numerous users :-)

[2019-10-23 19:36] #77 closed

[2019-10-23 19:36] #95 closed

[2019-10-23 19:38] pjhampton opened #114 "Upgrade to 7.4.1"
I would love some help creating a 7.4.1 release
Please see a previous PR on how to do it.

[2019-10-24 19:40] #114 closed

[2019-11-04 22:24] nikolay opened #117 "Elastic v6.8.4 is now available"
@pjhampton Please, release compatible artifacts! Huge thanks in advance! 🙇

[2019-11-05 20:38] pjhampton commented on #117
Many thanks @nikolay 👍

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.4

[2019-11-05 20:38] #117 closed

[2019-11-05 21:52] nikolay commented on #117
Thanks, @pjhampton! Outstanding job! I wish all open-source projects had this level of commitment and care!

[2019-11-09 12:48] lazyusername opened #119 "Missing release artefact for tag 7.3.2"
You are [referencing release artefact for tag 7.3.2](https://github.com/pjhampton/kibana-prometheus-exporter/commit/94ebd0182dfb7b846e9183907eb4dd4d06c8b2a6#diff-04c6e90faac2675aa89e2176d2eec7d8R48)  but it's actually completely missing. Just check out the url in the commit to release => 404.

/cc @dibyadas

[2019-11-09 20:06] pjhampton commented on #119
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.3.2

Thanks for letting me know @lazyusername! ❤️ this has been resolved.

[2019-11-09 20:06] #119 closed

[2019-11-11 07:31] xkkker commented on #31
@pjhampton hi, I wonder how to config the plugin to get the metrics through /_prometheus/metrics if I has x-pack enabled?
Now I enabled the plugin but I can't get the metrics:
[code]

[2019-11-11 15:12] pjhampton commented on #31
@xkkker what ver? Also, How have you deployed as that is a non standard port?

[2019-11-12 01:44] xkkker commented on #31
@pjhampton  Thanks for your reply! The kibana's version is 7.0.1.
And I run it on my vm instead in docker. The port is 35601 because I change the default port in the kibana.yml, the following is a section in my kibana.yml:
[code]
And my question is ,how to expose the metrics when I has the x-pack authentication enabled?
Thank you ~

[2019-11-13 16:02] matagyula commented on #31
Greetings,
I'm facing the same issue as the original commenter who started this thread. I have Kibana version 7.3.1 with prometheus-exporter version 7.3.1.0 - the plugin is listed correctly when I run GET _cat/plugins from the Kibana DEV tools.

I'm trying to reach the metrics endpoint using CURL from the host running Kibana:
curl -v https://x.x.x.x:5601/kibana/_prometheus/metrics -k -u xxxxx

Thi

[2019-11-13 20:44] pjhampton commented on #31
Hey @matagyula - sounds like you have things pretty locked down - which is great! 🤘

SSL isn't an issue, as it is one-way TLS (AFAIK) exchange which is bypassed.
https://github.com/pjhampton/kibana-prometheus-exporter/blob/master/server/exporter/prometheus.js#L11 See the code here. Maybe I should document it somewhere.

It picks up the values in

[code]

and I get the values just fine from `http:/

[2019-11-13 20:46] pjhampton commented on #31
@xkkker does putting the below in your `config/kibana.yml` help at all?

[code]

where user/password are your actual username/password for an x-pack user. Can you send me some info on how I can set up X-pack? I did it before before it was bundled with elastic and the docs are maybe lacking slightly around this topic.

[2019-11-15 11:37] matagyula commented on #31
Hi @pjhampton ,  thank you very much for your prompt response. Setting the username and password in the kibana.yml config file helped. I can now access the metrics endpoint :) Thank you once again! Cheers!

[2019-11-19 13:07] matagyula commented on #77
@pjhampton - for now I'm stuck on version 7.3 of the ELK stack, is there a way to hide the faded Prometheus button from the sidebar? While it is clickable, in my case no actual content loads, just an empty page. With that said, the exporter itself works (as discussed in another issue thread).
![image](https://user-images.githubusercontent.com/38976086/69148964-c523f000-0ad5-11ea-9b88-4bac4b06101a.

[2019-11-19 21:04] pjhampton commented on #77
Hey @matagyula

Hmm, it looks like a bug - I can roll forward a special release if you give me the exact version number. Would you mind opening a separate issue for this though?

[2019-11-20 13:08] matagyula opened #121 "v 7.3.1 - Prometheus button bugged out on the sidebar"
I'm using version 7.3.1 (downloaded as kibana-prometheus-exporter-7.3.1.zip) of the exporter, with Elasticsearch and Kibana versions 7.3. Is there a way to hide the faded Prometheus button from the sidebar? While it is clickable, in my case no actual content loads, just an empty page. With that said, the exporter itself works (as discussed in another issue thread).
![image](https://user-images.git

[2019-11-20 13:09] matagyula commented on #77
Hi @pjhampton , absolutely, thank you very much :)

[2019-11-20 15:15] pjhampton commented on #121
Acknowledged :) will work on tonight

[2019-11-20 22:10] pjhampton commented on #121
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.3.1-v2

[2019-11-20 22:10] #121 closed

[2019-11-25 15:05] matagyula commented on #121
Thank you, @pjhampton! I've deployed the update today, everything works great so far. Cheers!

[2019-11-25 20:45] pjhampton commented on #121
No problemo @matagyula 👍 let me know if anything comes up or have any questions. If you have feedback for extra features etc, let me know too.

[2019-12-05 10:41] superfenv opened #124 "kibana version 5.5.2"
Hello!
     Can you provide 5.5.2 version of kibana!

[2019-12-05 18:32] pjhampton opened #125 "RELEASE for 7.5.0"

[2019-12-05 22:15] #125 closed

[2019-12-05 22:16] pjhampton commented on #124
Sorry @superfenv - can't be done. The stats module that I hook off to get the metrics doesn't exist before 5.6.0

[2019-12-05 22:16] #124 closed

[2020-01-09 16:51] Tharun-Sabbu opened #129 "RELEASE for v6.8.6"

[2020-01-11 13:32] pjhampton commented on #129
Thanks for the heads up @Tharun-Sabbu

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.6

[2020-01-11 13:32] #129 closed

[2020-01-29 04:49] kovurusaisachin opened #132 "Is Docker image available for 6.5.3 version?"

[2020-01-29 19:40] pjhampton commented on #132
Hey @kovurusaisachin

Thanks for your interest in this project. There is a release for [6.5.3 here](https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.5.3). It doesn't make too much sense to build a docker image around this one kibana plugin - this is because if you're a plugin kind-of dev you probably want multiple plugins. You can see my instruction on how to build a docker i

[2020-01-29 19:48] #132 closed

[2020-01-30 09:13] kovurusaisachin commented on #132
Thanks, @pjhampton.I have kibana 6.5.3 version running on my Kubernetes cluster. If I want to use this exporter what are the feasible options that I have?

[2020-01-30 14:04] pjhampton commented on #132
@kovurusaisachin you could use whatever you are using in your k8s cluster as a base image and install the plugin that way. This is a pretty good SO explanation.

https://stackoverflow.com/questions/46558739/how-to-install-plugin-on-github-to-kibana-running-on-container

Does that help?

[2020-01-31 06:17] kovurusaisachin commented on #132
Thanks, @pjhampton.

[2020-02-15 17:45] kamontat opened #135 "Support kibana v7.6.0"

[2020-02-15 23:08] pjhampton commented on #135
Many thanks @kamontat 💙 💛

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.6.0

[2020-02-15 23:08] #135 closed

[2020-02-18 14:42] FelixRodriguezJara opened #137 "Using Kibana Prometheus Exporter with Elastic Operator"
Hi!

First of all, thank you very much for generating a Prometheus Metrics exporter for Kibana, it is really interesting. We have deployed Elasticsearch and Kibana using the Kubernetes Elasticsearch Operator, so, I don´t quite directly control the Kibana deployment definition. I am trying to find out a way of adding the plugin so I can get metrics exported from my Kibana instance. Is the plugin so

[2020-02-18 20:48] pjhampton commented on #137
Hey @FelixRodriguezJara

Thanks so much for the kind words and your question! I really appreciate it.

I haven't used Kubernetes Elasticsearch Operator before so I had to read into it.
Here is an example Dockerfile you could use: https://github.com/x0rzkov/dockerfiles-search/blob/f1a7d092b9c31024507459bf677136d907758a5f/hub.docker.com/mikelorant/kibana/Dockerfile

What you want to do is use the of

[2020-02-18 20:48] #137 closed

[2020-02-18 20:48] pjhampton commented on #137
Let me know if that doesn't help and I will try again!

[2020-02-18 21:05] pjhampton opened #138 "Add Docker + k8s guide to Wiki"
Would love to hear from people running this in k8s and their approach. Seems to be quite a lot of examples here: https://github.com/search?q=kibana-prometheus-exporter&type=Code

[2020-02-20 15:01] luxie11 opened #139 "Can't install 6.5.2"
Hey,
Thank you for creating a Prometheus Metrics exporter for Kibana, but when I'm trying to install on same VM, where kibana is installed, i get EACCES: permission denied, open '/usr/share/kibana/optimize/.babel_register_cache.json'.
![image](https://user-images.githubusercontent.com/29857050/74946866-9da93000-5402-11ea-841c-1124fd5693dd.png)

Thank you for the answer.

Kind regards.

[2020-02-20 19:03] pjhampton commented on #139
Hey @luxie11. Checking...

[2020-02-20 19:31] pjhampton commented on #139
I downloaded 6.5.2 and had no problems installing or running it. See my tmux session screenshots below. I suspect there was an issue with the installation.

Can you please try again and let me know if this reoccurring? Have you see this? https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

<img width="1280" alt="Screenshot 2020-02-20 at 19 22 20" src="https

[2020-02-20 20:20] luxie11 commented on #139
Actually after some time I found a bug. It's a mistake, I tried to install this service with other user, who can't doesn't have permissions for kibana files. Thats why I got a bug.
After I installed it on Linux i tried curl the localhost, but I got redirect to login. It is supose to happen or not?

[2020-02-20 20:38] pjhampton commented on #139
Hey @luxie11

Ok. That makes sense :-) easy mistake
Have you seen this? https://github.com/pjhampton/kibana-prometheus-exporter#x-pack--ssl--basic-auth

[2020-02-21 09:25] luxie11 commented on #139
Hey again,
Yes I checked it, so change logins in this file and everything will be fine?

[2020-02-21 10:46] pjhampton commented on #139
Try it and let me know :-)

[2020-02-22 15:20] pjhampton commented on #139
Hey @luxie11. How did it work out?

[2020-02-22 18:21] luxie11 commented on #139
Hey @pjhampton I will try it on Monday

[2020-02-24 07:25] luxie11 commented on #139
Hey again, i changed the kibana.yml config file with new username and pass, but still getting response like this using curl -v command.

![image](https://user-images.githubusercontent.com/29857050/75134658-9d9d7e80-56e7-11ea-80f1-b06e39789372.png)

[2020-02-24 07:47] luxie11 commented on #139
Hey @pjhampton,  so I add params to config file and tried to curl the url, but i get redirection error.
![image](https://user-images.githubusercontent.com/29857050/75135572-9d52b280-56ea-11ea-949c-afe16a1f6a1e.png)

[2020-02-24 08:57] luxie11 commented on #139
However, using wget I get files from URL with _prometheus/metrics file, but how to check if it's really working?

[2020-02-24 21:02] pjhampton commented on #139
Hiya @luxie11

I think I understand. You can get that with`curl -XGET http://<username>:<password>@localhost:5601/_prometheus/metrics` where `<username>` and `<password>` are those things :-)

Regarding how to check if it is really working I suppose you could connect it to prometheus. Let me know how you get on!

[2020-02-26 08:11] luxie11 commented on #139
Hey @pjhampton
I managed to test it with curl command using curl -u user:pass http://localhost:5601/_prometheus/metrics ant it's working. Thanks for help :)

[2020-02-26 18:09] pjhampton commented on #139
No problemo, @luxie11. Glad I could help!

[2020-02-26 18:09] #139 closed

[2020-03-13 09:16] olgakorichkovskaya opened #141 "Support Kibana v7.6.1"
Please add support Kibana v7.6.1

[2020-03-13 21:38] #141 closed

[2020-03-13 21:48] pjhampton commented on #141
Hey @olgakorichkovskaya

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.6.1

Thanks 🙏

[2020-03-15 13:10] olgakorichkovskaya commented on #141
@pjhampton  Thanks a lot for a really quick update.

[2020-04-01 18:27] JPLachance commented on #31
Hello @pjhampton,

I'm trying to run my own Kibana instance on top of the AWS Elasticsearch service with [fine-graned access control enabled](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/fgac.html). Fine-grained access control in the AWS Elasticsearch service is leveraging the [Open Distro for Elasticsearch security plugin](https://opendistro.github.io/for-elasticsearch-

[2020-04-01 21:22] pjhampton commented on #31
👋@JPLachance Can you share your kibana.yml and omit any secrets / credentials.

[2020-04-01 22:35] JPLachance commented on #31
I sure can:
[code]

I hope it helps 🙂

[2020-04-05 11:02] pjhampton commented on #31
@JPLachance apologies for the late response. I don't see the following configuration in your kibana.yml

[code]

Can you confirm you tried this?

[2020-04-06 13:02] JPLachance commented on #31
Good morning,

I confirm I tried it, it did not work. I really don't understand why it does not work. It works when using curl without authentication.

Thanks for your help!

[2020-04-06 13:19] pjhampton commented on #31
Does it work when you disable [fine grained control](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/fgac.html). I haven't used the aws hosted service before.

[2020-04-06 14:34] JPLachance commented on #31
Without the fine-grained access control, your plugin works fine!

You can [boot the Open Distro for Elasticsearch cluster on your computer](https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/) to test it.

My Kibana image looks like this:
[code]

I even tried to pass empty or invalid credentials with curl and it works because of `status.allowAnonymous: true`:
[code]

So I real

[2020-04-06 16:37] pjhampton commented on #31
Sorry @JPLachance, I'm not sure. Since this is the case maybe the authors of that plugin can help you? If you figure it out please let me know so I can update the wiki.

[2020-04-06 19:37] pjhampton commented on #31
I'm also going to close this issue I think. I'm not going to backport auth into the 5 + early 6 series and will just focus on future releases. For anything related to auth please open a new issue.

[2020-04-06 19:37] #31 closed

[2020-05-11 14:27] dietrich-h commented on #58
@pjhampton apologies for hijacking this bugtraq to contact you, was hoping to get your help with installation.  Any chance I can email you?  Thank-you

[2020-05-11 14:34] pjhampton commented on #58
Hey @dietrich-h

Yeah, sure thing. Just open a new issue and I will help as much as I can and share my email if required. 🥇

[2020-05-11 16:18] dietrich-h opened #147 "install help"
thanks Pete, my colleague Walter and myself are hoping to get the plugin working to instrument our kibana stack.

It looks as though the installation was successful but when we try to curl the plugin endpoint  nothing is returned.

Are the authentication credentials in the kibana.yml necessary for the plugin to start working?

Should we be able to retrieve the exporter endpoint like so:
curl http:

[2020-05-11 21:03] dietrich-h commented on #147
we managed to get this working, thanks for your help!

[2020-05-11 21:03] #147 closed

[2020-05-12 08:36] pjhampton commented on #147
Hey @dietrich-h. Glad you and walter got this working 👍
take it easy

[2020-05-19 10:23] DeviaVir opened #149 "Support Kibana v7.7.0"
Please add support Kibana v7.7.0

[2020-05-19 15:06] pjhampton opened #150 "Add checksums (sha256 + sha512) to releases"
I think it would be a good idea to follow the elastic release process for this community plugin by releasing the checksum along with the artifact on the [releases page](https://github.com/pjhampton/kibana-prometheus-exporter/releases)

[2020-05-19 21:05] pjhampton commented on #149
Thanks @DeviaVir ❤️ - https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.7.0

[2020-05-19 21:05] #149 closed

[2020-05-20 11:21] DeviaVir commented on #149
Dude, awesome!

[2020-05-21 02:00] royoan opened #152 "Can access the /_prometheus/metrics without authentication when enable basic xpack?"
We have install kibana with basic xpack, can we access the metric without authentication?

[2020-05-21 07:17] pjhampton commented on #152
Hey @royoan 👋

Yep! If no auth is enabled then you can install and it should _just work_.
If auth is enabled you can follow the instructions here: https://github.com/pjhampton/kibana-prometheus-exporter#ssl--basic-auth

[2020-05-21 07:17] #152 closed

[2020-05-29 16:10] pavdmyt opened #153 "Plugin installation was unsuccessful due to error (v6.7.1)"
I'm trying to install plugin for kibana `v6.7.1` and having troubles after `Optimizing and caching browser bundles...` step. Running kibana in K8s, using official docker image: `docker.elastic.co/kibana/kibana:6.7.1`. Here is steps to reproduce the issue:

[code]

[2020-06-01 14:19] pjhampton commented on #153
Thanks for reporting @pavdmyt
I will look into this tonight

[2020-06-01 19:14] pjhampton commented on #153
Hey @pavdmyt

I couldn't replicate:

<img width="1280" alt="Screenshot 2020-06-01 at 20 05 59" src="https://user-images.githubusercontent.com/8960296/83444963-18430c00-a444-11ea-868f-91b508d10ddf.png">

It builds just fine and I looked at the download stats. There are downloads so this suggests to me that people are running this version in prod ok. Could it be have been a timeout or something to d

[2020-06-02 19:02] pavdmyt commented on #153
@pjhampton I've tried multiple times with different tweaks and no success in our K8s setup.

I thought that issue is somehow related to using official kibana docker image: `docker.elastic.co/kibana/kibana:6.7.1`. Tried to reproduce it using small 2-node cluster runnning via docker-compose:

[code]

After running `docker-compose up` I'm having successfully starting ES nodes and kibana instance:

[c

[2020-06-03 08:52] pjhampton commented on #153
That's really interesting @pavdmyt - thanks for getting into a deep investigation and writing back.
If you do find the root cause can you please come back and post it here in the future? I'm sure there are people who would be very grateful for your knowledge on running Kibana on k8s.

Thanks again ✨

[2020-06-03 08:52] #153 closed

[2020-06-09 10:59] vinayGudi opened #155 "create dashbords"
sorry i am new here.. i don't know how to create dashboards with that metrics in kibana.
if it is metricbeat when can set output to es and  create visualizations from there

when i try to install it from cmd given in readme ... it is not working  giving no such file or dir kibana-plugin
hope u got my problem :)

thanks!

[2020-06-09 11:21] pjhampton commented on #155
Hey @vinayGudi 👋
Welcome and no need to apologize.

This plugin is to expose [Prometheus metrics](https://prometheus.io/docs/introduction/overview/) to a pull-based Prometheus job, likely to be visualized in Grafana. I provide an example Grafana template in the [grafana/](https://github.com/pjhampton/kibana-prometheus-exporter/tree/master/grafana) directory of this repo. I've seen people use Kiban

[2020-06-13 20:54] pjhampton commented on #155
Going to close this out. Feel free to reach out again if you need any help @vinayGudi 💚

[2020-06-13 20:54] #155 closed

[2020-06-15 09:45] tarekesmail opened #157 "Kibana 7.3.3"
Hi,
I can't find my kibana version 7.3.3 in plugins, can you help please

[2020-06-15 11:03] pjhampton commented on #157
Hey @tarekesmail

Sure thing. I will drop an artifact and get back to you later on.

[2020-06-15 17:30] pjhampton commented on #157
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.3.3

[2020-06-15 17:30] #157 closed

[2020-06-17 12:40] pjhampton opened #159 "RELEASE 7.7.1"
ES: https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.7.1-darwin-x86_64.tar.gz
Kibana: https://artifacts.elastic.co/downloads/kibana/kibana-7.7.1-darwin-x86_64.tar.gz

[2020-06-18 14:14] lazyusername opened #160 "RELEASE for 7.8.0"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.8/release-notes-7.8.0.html

[2020-06-19 13:37] #160 closed

[2020-06-19 13:38] pjhampton commented on #160
Thanks @lazyusername : https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.8.0

[2020-06-19 13:39] pjhampton commented on #150
Instead of releasing individual checksums I will release a checksum.json file which will include the md5, sha1, sha256 and sha512 like so:

[code]

[2020-06-19 13:50] pjhampton commented on #159
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.7.1

[2020-06-19 13:50] #159 closed

[2020-06-24 23:20] dawookie opened #164 "Could you add support for Kibana Version 6.8.10?"
Thank you for your work.

[2020-06-25 19:21] pjhampton commented on #164
Yeah, no problem @dawookie
I will release tonight or tomorrow. Hold tight.

[2020-06-25 21:19] pjhampton commented on #164
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.10

[2020-06-25 21:19] #164 closed

[2020-06-28 19:33] #138 closed

[2020-07-08 03:40] davejhahn opened #169 "404 error"
I have Kibana installed (using BItnami's Helm Chart, latest version which installs 7.8.0 of Kibana) and used the plugins value passed in to install kibana-prometheus-exporter, and I'm getting a 404 error on the endpoint both in Prometheus and on the pod directly using curl.

e.g.
[code]

It installed the plugin (visible in /opt/bitnami/kibana/plugins/kibana-prometheus-exporter) but my Prometheus T

[2020-07-08 12:38] pjhampton commented on #169
Hey.

I'm sorry, I have no idea - this is the first I have heard of Helm Charts. It seems that the downloads for 7.8.0 are quite a lot and frequent so I can only assume it is working. The helm charts people will probably be able to advise.
If you do get it figured out I would appreciate if you could drop the details in this issue so other people can benefit :-)

[2020-07-08 12:38] #169 closed

[2020-08-02 17:58] AlexGustafsson opened #175 "Release 7.8.1"
There are no code changes necessary as there were only two changes; both resolving security issues.

[2020-08-06 08:25] pjhampton commented on #175
Thanks for the heads up @AlexGustafsson - this is now released!

[2020-08-06 08:25] #175 closed

[2020-08-18 15:02] lazyusername opened #178 "RELEASE for 7.9.0"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.0.html

[2020-08-18 15:02] lazyusername opened #179 "RELEASE for 6.8.12"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.12.html

[2020-08-23 19:24] pjhampton commented on #150
Done 👯‍♀️

[2020-08-23 19:24] #150 closed

[2020-08-23 19:48] #58 closed

[2020-08-23 19:51] pjhampton opened #181 "Releases missing"
[code]

[2020-08-26 08:05] lianfulei opened #182 "The credentials are encoded in a Base64 header when sent over the wire"
How to use HTTP access？

http://172.16.3.1:5601/_prometheus/metrics

[2020-08-26 08:19] pjhampton commented on #182
I don't understand you question, @lianfulei
Please rephrase.

Yes, it's a request to the same host. If you are worried about packet sniffing you should enable TLS too.

[2020-08-26 08:22] lianfulei commented on #182
Kibana has enabled x-pack. If you visit this link, you will be prompted to log in your account and password. Can you not enter your account password?

http://172.16.3.1:5601/_prometheus/metrics

[2020-08-26 08:23] lianfulei commented on #182
@pjhampton

[2020-08-26 08:26] pjhampton commented on #182
Yeah, see https://github.com/pjhampton/kibana-prometheus-exporter#ssl--basic-auth

Just put a user/pass in the Kibana config like so:

[code]

[2020-08-26 08:29] lianfulei commented on #182
kibana-prometheus-exporter.user: kibanaUser
kibana-prometheus-exporter.pass: ohSoSecret!

[2020-08-26 08:32] lianfulei commented on #182
@pjhampton

[2020-08-26 08:33] lianfulei commented on #182
My version is 7.6.2

[2020-08-26 08:33] pjhampton commented on #182
No, you need to create a new user. Those are only example values. See https://www.elastic.co/guide/en/elasticsearch/reference/current/get-started-users.html

The version doesn't matter - the process is the same.

[2020-08-26 08:39] lianfulei commented on #182
i know。The account and password are correct，but  visit http://172.16.3.1:5601/_prometheus/metrics，302 jump to http://172.16.3.1:5601/login?next=%2F_prometheus%2Fmetrics

how to solve？

[2020-08-26 08:39] lianfulei commented on #182
@pjhampton

[2020-08-26 08:41] pjhampton commented on #182
Is it behind an nginx, haproxy or other reverse proxy?

[2020-08-26 08:42] lianfulei commented on #182
xpack It's on

[2020-08-26 08:42] lianfulei commented on #182
@pjhampton

[2020-08-26 08:45] lianfulei commented on #182
Is there a way not to log in？

[2020-08-26 08:46] pjhampton commented on #182
[code]
Should work. And then in your scrape configs on your prometheus server you would set the auth there:

[code]

See: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config

[2020-08-26 08:50] lianfulei commented on #182
it works

I feel dizzy. This is actually the same as the elasticsearch API.

[2020-08-26 08:50] lianfulei commented on #182
thanks

[2020-08-26 08:53] lianfulei commented on #182
I asked a few questions, which had nothing to do with the subject

How do I add this to prometheus.yml
http://192.168.1.2/-/metrics?token=NsdfwerSDDD53MC
@pjhampton

[2020-08-26 08:57] lianfulei commented on #182
i know.This should be used

# Optional bearer token authentication information.
[ bearer_token: <secret> ]

[2020-08-26 09:02] #182 closed

[2020-09-03 17:55] lazyusername opened #184 "RELEASE for 7.9.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.1.html

[2020-09-03 20:30] #184 closed

[2020-09-03 20:30] pjhampton commented on #184
Thanks @lazyusername! https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.9.1

[2020-09-04 03:08] davejhahn opened #186 "500 error"
I've installed the plugin and when I try and call the endpoint (from the Kibana pod), I get a 500 error.

[code]

From the Kibana pod:
curl http://127.0.0.1:5601/_prometheus/metrics

Plugin is installed on top of the Docker image from bitnami/kibana:
[code]

Any ideas on why I might be seeing this?

Thanks.

[2020-09-04 20:02] pjhampton commented on #186
Hey @davejhahn

That's a 404, not a 500. That suggests it isn't installed which sounds right.
A 5xx would suggest there is an internal error with the plugin or Kibana. A 4xx error suggests it's just not there.
Can you run and confirm it's not there?

[code]

[2020-09-04 20:17] davejhahn commented on #186
It shows that is installed:

./kibana-plugin list
kibana-prometheus-exporter@7.9.0

Yes, the 400 error happens immediately before the 500 error.  This is the result after running the curl command:
{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}

In the log, there are two entries, a 400 which indicates it is doing something with the plugin, then a 50

[2020-09-07 08:29] pjhampton commented on #186
Does Bitnami have their own version of Kibana? I know some compaies such as AWS maintain their own fork.
Works fine for me, so I'm assuming some misconfiguration

[2020-09-09 21:27] davejhahn commented on #186
It looks like there is an issue that has a workaround in the Bitnami version--@andresbono provided the workaround and I was able to get it working.  If anyone else has this particular issue with the Bitnami chart, please see the thread on this above.

Thanks @andresbono and @pjhampton !

[2020-09-09 21:27] #186 closed

[2020-09-10 07:04] pjhampton commented on #186
Thanks for the update @davejhahn! Glad you got it sorted

[2020-09-10 09:03] andresbono commented on #186
We narrowed the issue a little bit more. If you set the `server.host` to `::` to support IPv6, the metrics endpoint fails. The error doesn't seem specific to the Bitnami container though. It is reproducible with the Elastic one:

`Dockerfile`
[code]
`docker-compose.yaml`
[code]

[code]

It works fine if we set `SERVER_HOST=0.0.0.0`.

Is IPv6 supported for this plugin?

[2020-09-10 09:34] pjhampton opened #187 "Investigate ipv6 support"

[2020-09-10 09:40] pjhampton commented on #186
Thanks for the details @andresbono!

I've opened https://github.com/pjhampton/kibana-prometheus-exporter/issues/187 to investigate
With ES 8.0.0 around the corner and Kibana re-architecture (https://www.elastic.co/blog/introducing-a-new-architecture-for-kibana) I might completely re-write this plugin. There are hangovers from the original hacked together product that need to be moved away from.

[2020-09-24 18:45] lazyusername opened #189 "RELEASE for 7.9.2"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.2.html

[2020-09-24 19:45] pjhampton commented on #189
Thanks for being awesome @lazyusername!

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.9.2

[2020-09-24 19:45] #189 closed

[2020-10-13 19:06] #181 closed

[2020-10-15 19:50] pjhampton opened #196 "Convert to TypeScript"

[2020-10-22 13:22] lazyusername opened #198 "RELEASE for 6.8.13"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.13.html

[2020-10-22 14:07] lazyusername opened #199 "RELEASE for 7.9.3"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.3.html

[2020-10-22 16:28] #199 closed

[2020-10-22 18:34] pjhampton commented on #199
Thanks @lazyusername!

[2020-10-22 19:08] pjhampton commented on #198
I've stopped supporting the 6.X releases for now. Most of the download stats are coming from the 7.x series.
If anyone needs a specific release I will cut it for them.

[2020-10-22 19:08] #198 closed

[2020-11-12 16:24] pjhampton opened #201 "Create 7.10 release"

[2020-11-15 16:34] pjhampton commented on #196
This has started as of [7.10.0 release makes this incompatible. Rewriting in TypeScript.](https://github.com/pjhampton/kibana-prometheus-exporter/commit/d6bbd125bafdf53e04b13202c5b15f1b37f87655)
Will be finishing port in a couple of days to closeout https://github.com/pjhampton/kibana-prometheus-exporter/issues/201

[2020-11-15 16:34] #196 closed

[2021-01-06 04:34] kovurusaisachin opened #202 "kibana-prometheus-exporter-Version-7.3.2 -Showing npm update log"
Hi,
      I'm using the kibana-7.3.2 version and I tried using the Kibana-Prometheus exporter of the same version(7.3.2). After installing Kibana I have checked whether the kibana-plugin got successfully deployed or not using the kibana-plugin list (by using exec command) inside the container. I'm able to see the kibana-prometheus_exporter.But the issue is I'm getting the logs like below where aft

[2021-01-12 15:19] pjhampton commented on #202
Hey @kovurusaisachin

Sorry for the tardy reply. I have been very busy recently.
7.3.2 [was released Sept 12 2019](https://github.com/elastic/elasticsearch/releases/tag/v7.3.2). Do you not have plans to upgrade? I suggest you do for modern features and security fixes.

After a little googling - It seems that the only way around this is to cut another release for this version. Is that what you woul

[2021-01-13 10:16] kovurusaisachin commented on #202
Hey @pjhampton, down the road we have plans of upgrading the stack to the newer version. But till then, it would be helpful If I could get any workaround for the existing(7.3.2) version.

[2021-01-13 11:03] pjhampton commented on #202
Ok, no problemo. I will cut you a new release over the next couple of days when I get a moment @kovurusaisachin 👍

[2021-01-13 11:22] kovurusaisachin commented on #202
@pjhampton Thanks

[2021-01-15 11:00] pjhampton commented on #202
Hey @kovurusaisachin, so I had a look into this. I think the devil is in the detail:

You say this is your output:

[code]

^ This plugin (kibana-prometheus-exporter) isn't there. When I install my log looks like so:

[code]

I also ran without installing the plugin and got the same output as you:

[code]

And so on. So this is an issue with the dependencies in the Kibana codebase, not the plugin.

[2021-01-15 11:00] #202 closed

[2021-01-15 11:02] pjhampton commented on #202
Hey @kovurusaisachin, so I had a look into this. I think the devil is in the detail:

You say this is your output:

[code]

^ This plugin (kibana-prometheus-exporter) isn't there. When I install my log looks like so:

[code]

I also ran without installing the plugin and got the same output as you:

[code]

And so on. So this is an issue with the dependencies in the Kibana codebase, not the plugin.

[2021-01-15 11:16] pjhampton opened #203 "Sunset GH support for releases before 7.10"

[2021-01-15 11:19] pjhampton opened #204 "Release 7.10.1"

[2021-01-15 11:20] pjhampton opened #205 "Release 7.10.2"

[2021-01-15 11:21] pjhampton opened #206 "Add Kibana Task and ML Statistics"
Add Kibana Task and ML Statistics to output

[2021-02-05 20:17] jaronoff97 opened #207 "Release 7.10.1"
Hello! Is there anything blocking the release for the exporter for 7.10.1? Thank you for writing this!

[2021-02-05 20:52] pjhampton commented on #207
Hey @jaronoff97

Thanks for reaching out! I'm just a little behind with life at the moment.
I will try to release this, this weekend

[2021-02-07 12:46] pjhampton opened #210 "8.0 Enhancements"
- [x] Support ipv6
  - [x] Overhaul the documentation
  - [x] Add a test harness and use GH Actions

Contributors very welcome 🥇

[2021-02-07 12:51] pjhampton commented on #201
This has been released via: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.10.0

[2021-02-07 12:51] #201 closed

[2021-02-07 15:28] pjhampton commented on #204
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.10.1

[2021-02-07 15:28] #204 closed

[2021-02-07 15:29] pjhampton commented on #207
See https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.10.1

Tested. Please let me know if there are any issues!
Take care

[2021-02-07 15:29] #207 closed

[2021-02-07 15:35] pjhampton commented on #205
Released and tested: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.10.2

[2021-02-07 15:35] #205 closed

[2021-02-08 11:20] hollden opened #211 "can not start kibana"
Hi!
I am trying to install kibana exporter v. 7.10.0, but after successfull installation kibana does not start.
In journalctl I see this error: FATAL  Error: Cannot find module 'axios'
Can you help me?

[2021-02-08 11:22] pjhampton commented on #211
Hey @hollden

Can you tell me more about your setup?
Can you also paste me more logs if you have them?

[2021-02-08 11:32] pjhampton commented on #211
I just updated the artifact: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.10.0
Can you please try that? I bundled axios with it

[2021-02-09 01:46] hollden commented on #211
After your fix plugin has been installed properly, without any arrors, thank you!

[2021-02-09 08:30] pjhampton commented on #211
Great. Thanks for reporting back.

[2021-02-09 08:30] #211 closed

[2021-02-15 08:56] pjhampton opened #212 "Release 7.11"

[2021-02-15 09:06] pjhampton opened #213 "Release 7.11.1"

[2021-02-15 14:36] pjhampton commented on #213
Released: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.11.1

[2021-02-15 14:36] #213 closed

[2021-02-15 14:36] pjhampton commented on #212
Released: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.11.0

[2021-02-15 14:36] #212 closed

[2021-02-16 07:48] LH8PPL commented on #147
Hey, i got the same problem, how did you solve it?

[2021-02-16 09:42] pjhampton commented on #147
@LH8PPL Hey!

Can you please open another issue with your:

  - Stack version
  - Installation details including the plugin version
  - What you believe the problem to be

.. and we will debug together from there!

[2021-02-28 18:52] pjhampton opened #214 "Create 7.11.2 Release"

[2021-03-12 04:45] goldstrike77 opened #215 "Internal Server Error when Enables kibana SSL."
I have been using Kibana Prometheus exporter for several years, But find some changed from 7.10.

If I enable Kibana SSL, an internal server error occurs, it seems to use HTTP instead of HTTPS.

kibana: _currentUrl: 'http://127.0.0.1:5601/api/status' },
kibana: response: undefined,
kibana: isAxiosError: true,
kibana: toJSON: [Function: toJSON] }
kibana: error  [04:32:33.675]  Error: Internal Serve

[2021-03-12 10:04] pjhampton commented on #215
That's correct - there was an entire rewrite of this plugin from 7.10.
Can you give me more information? Are you using the 7.10 package, or have you created your own from a fork?

[2021-03-13 01:17] goldstrike77 commented on #215
I've tried these versions, Judging by the syslog, Secured HTTP is not used when enable kibana ssl.

It can work normally after disable SSL.

kibanaPrometheusExporter-7.11.1.zip

[2021-03-15 08:09] pjhampton commented on #214
This has been released

[2021-03-15 08:09] #214 closed

[2021-03-17 21:43] pjhampton commented on #215
Sorry to leave you hanging... I'm still looking into this

[2021-03-22 16:27] pjhampton commented on #206
As these are x-pack features I'm not going to do this. Closing

[2021-03-22 16:27] #206 closed

[2021-03-24 14:06] sasah opened #216 "Release 7.12"

[2021-03-24 14:06] pjhampton commented on #216
Thanks @sasah. Will release today

[2021-03-24 18:37] pjhampton commented on #216
https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.12.0

[2021-03-24 18:37] #216 closed

[2021-03-26 13:40] KnechtionsCoding opened #217 "Internal Server Error when Installing 7.10.0 in ECK Kibana"
Installing the plugin and running in K8s I'm getting an internal 500 when trying to hit /_prometheus/metrics I'm using SSO, but I've validated that the behavior exists whether I use direct authentication or sso, and I've validated that I have valid SSO credentials at the time of hitting the endpoint.

Dockerfile

[code]

Kibana config
[code]

Error message: `{"statusCode":500,"error":"Internal Ser

[2021-03-27 17:56] pjhampton commented on #217
Howdy @KnechtionsCoding

Thanks for your issue + all the details. This is super helpful.

I do know what the problem is :-( It's the same as #215 - This plugin had to do a complete rewrite @ 7.10.0 because the Kibana team broken backward compatibility without warning - which is fine I suppose. I can imagine this is the only plugin that actually uses the stats APIs outside of Kibana itself.

I will

[2021-03-27 19:03] KnechtionsCoding commented on #217
Good to know that I wasn't just doing something wrong!

No super rush, I'll keep an eye on this ticket and wait for you to finish it up.

[2021-04-12 23:31] branden opened #218 "Release 6.8.15"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.15.html

[2021-04-13 12:15] perkons opened #219 "metric kibana_heap_max_in_bytes not the max heap from configuration"
CentOS Linux release 8.3.2011
opendistroforelasticsearch-kibana-1.13.1-1.x86_64

Heap configured:
[code]

kibana_heap_max_in_bytes is changing frequently and is averaging 103MB over 1h, but the heap is set to 1500MB. Should this metric not show the max size in configuration?
I cannot write proper alerts in prometheues because of this.

In comparison this ES exporter https://github.com/vvanholl/ela

[2021-04-13 15:38] pjhampton commented on #219
Howdy @perkons 👋

First up, what version of the plugin are you using? I'm really not that familiar with the open distro and haven't tested against this distribution. If others let me know I can start supporting it.

So the code doesn't do any processing of that number - we grab it out of the internal stats api and present it to the user. I wonder if the stats api is bust in that distro? You will b

[2021-04-13 15:58] pjhampton commented on #219
If I'm understanding you correctly you are expecting to see max heap in bytes be a constant line.
So after a little research, I'm not sure it should. I believe the old space is managed by the v8 runtime and a process doesn't reserve heap ahead of time. I believe it to be a soft limit so other processes can use memory if that process is not using it. As it is a `--max` metric, I believe that is the

[2021-04-13 19:55] perkons commented on #219
Hi @pjhampton

thank you for the fast answer! Sorry for the missing version, it is Opendistro 1.13.1 so it is ES 7.10.2 and the same version for the plugin.

And yes, I expect it to be a constant line until I reconfigure it similar as it is for ES (es_jvm_mem_heap_max_bytes). The difference is that for ES you can configure the min and max heap size. I will look at the API  `api/stats?extended`  to

[2021-04-16 19:31] pjhampton commented on #219
Hey @perkons

Just checking in on this, did you get to the bottom of this?

[2021-04-20 17:15] perkons commented on #219
So I missed some other metrics because of wrong search:
[code]
this is the first line from the result the api returns, but it matches exactly the metrics I posted above

[2021-04-26 08:48] pjhampton opened #220 "Cut 7.12.1 release"

[2021-04-26 09:30] pjhampton commented on #219
🏅 <- this is for you @perkons. You were correct. So thank you 🙏

[2021-04-26 09:31] #219 closed

[2021-04-26 15:09] perkons commented on #219
@pjhampton thank you very much! I will reinstall the plugin once it is released.

[2021-04-28 10:09] pjhampton commented on #217
This should be fixed now @KnechtionsCoding! Apologies for the delay - life has been busy
https://github.com/pjhampton/kibana-prometheus-exporter/commit/6a9a066bb390df01757c49f4c731b709a65f64d3#diff-8885c91b939c521c41b1df64d6048a6f5ef31e7776088c7fc45f09dc616c721bR3

If you try to install 7.10.0 again it should be fixed. Let me know if you are having any other issues

[2021-04-28 10:09] #217 closed

[2021-04-28 10:13] pjhampton commented on #215
Thanks @goldstrike77. This should be fixed now! Sorry for the delay.
Please try reinstalling that artifact

[2021-04-28 10:13] #215 closed

[2021-04-28 10:13] pjhampton commented on #220
This has been released

[2021-04-28 10:13] #220 closed

[2021-04-29 10:51] pjhampton commented on #219
@perkons released 🚀

[2021-05-05 08:02] perkons commented on #219
@pjhampton thank you very much!

[2021-05-06 16:15] KnechtionsCoding opened #223 "404 when hitting /_prometheus/metrics"
After installing the updated plugin kibana is returning a 404 when hitting /_prometheus/metrics on 7.12.1.

[code]

<img width="550" alt="Screen Shot 2021-05-06 at 12 15 03 PM" src="https://user-images.githubusercontent.com/6039922/117331383-b285ae00-ae64-11eb-96e6-55ab7287943d.png">

I'd expect the metrics to have been exported. I know that this recently underwent a rewrite so this might be becau

[2021-05-26 10:29] faust64 commented on #223
No, plugin should work as usual with 7.12.1:

[code]

Something must be wrong.... are you sure 7.12.1 was properly deployed, checked the init container logs for errors, and the kibana container plugins directory?

[2021-05-26 13:48] KnechtionsCoding commented on #223
Logs from the init container:

[code]

Logs from Kibana Container
[code]

I can confirm that the 7.12.1 is installed:

`kubectl  describe kibana`

[code]

[2021-05-26 17:59] faust64 commented on #223
Allright, then my guess is that your init container is installing its plugin locally, then the regular kibana container starts up. Without your plugin.

Checking my own Kubernetes setup, I have 100 plugins, which is one more than you:

[code]

kibanaPrometheusExporter is listed here. not in your logs.

I'm not familiar with that Kibana object you're using.
I'm deploying EFK using some operator I d

[2021-05-26 18:00] KnechtionsCoding commented on #223
Cool. I'll look into that, thanks!

[2021-05-28 14:45] pjhampton commented on #223
Thanks for lending your expertise, @faust64! Really appreciate it :- )
@KnechtionsCoding did you get to the bottom of your issue?

[2021-05-28 14:47] pjhampton opened #224 "Release 7.13.0"

[2021-05-28 14:57] #224 closed

[2021-05-29 01:35] KnechtionsCoding commented on #223
Yep. After sharing a volume (can't believe I didn't catch that, so thanks @faust64  for putting me straight) it seems to have installed properly.

[2021-05-29 01:35] #223 closed

[2021-05-29 02:38] KnechtionsCoding opened #226 "Plugin Returning 500"
I don't think this is unique to 7.13.0 (I saw the same thing on 7.12.1). I'm sure this is related to kibana configuration somewhere, but I'm really not sure. I also recognize this is the 3rd Issue I've opened, so I appreciate your help. The previous ones were resolved, so... hoping this will also be resolved.

Installing in ECK kibana on k8s, 7.13.0 all the way through,

Here are the logs from kib

[2021-06-01 14:45] pjhampton opened #227 "RELEASE 7.13.1"

[2021-06-05 10:10] faust64 commented on #226
Hi,

The first thing that stands out is that `Error: connect ECONNREFUSED 10.24.1.8:5601`, alongside mentions of `'Host: kibana-url.example.com:5601`

Does kibana-url.example.com resolve to 10.24.1.8?
Is this a Service within your SDN? Ingress controllers? A LB in front of your cluster?
Either way: is port 5601 exposed, or is there some port translation?
Can you query that address from your kibana

[2021-06-18 09:19] pjhampton opened #228 "RELEASE 7.13.2"

[2021-06-18 16:09] #227 closed

[2021-06-18 16:14] #228 closed

[2021-07-07 08:13] pjhampton opened #232 "Report metric types accurately"
There is a bug that is reporting all metric types as gauges. These should be split into

  - Counters
  - Gauges
  - Histograms

[2021-07-08 11:53] MaxenceAdnot opened #233 "Internal Server Error with basePath and rewriteBasePath"
Hello,

We operate a Kibana 7.12.1 with your plugin installed (with the same version)

We have defined in our kibana.yml:
[code]
Unfortunately when we hit http://localhost:5601/kibana_mom/_prometheus/metrics we are getting an HTTP 500 error.
We looked at the logs and we've seen that the call made by axios is going to /kibana/api/status instead of /kibana_mom/api/status.

Is there a way to fix this

[2021-07-08 11:55] pjhampton commented on #233
Opps, nice bug find.

[code]

The `reqUrl` isn't taking into account a basePath deviation. I will try get it fixed by the end of week and ping you.

[2021-07-18 08:37] faust64 commented on #233
https://www.elastic.co/guide/en/kibana/7.x/kibana-navigation.html#_prepending_a_proper_basepath

I couldn't test this yet, though it might be fixable with something like:

[code]

Searching GitHub for similar commits: did not find any yet. I suspect we would need to import something as well ...

[2021-07-19 09:08] #233 closed

[2021-07-19 09:13] pjhampton commented on #233
@MaxenceAdnot Apologies for going momentarily dark.

Please see the new release here: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.12.1
I can't delete / swap out the v1 because I could break downstream users as I now provide the artifact checksums. Plus it wouldn't be a very good release eddiquite. Please use the `7.12.1-v2` version.

@faust64  ❤️ Yep, that was a good way

[2021-07-19 09:14] pjhampton commented on #226
@KnechtionsCoding just checking in to see if @faust64 answered your question? He seems to know lots about k8s :-)

[2021-07-19 12:15] #226 closed

[2021-08-02 11:57] pjhampton commented on #203
This has been done.

[2021-08-02 11:57] #203 closed

[2021-09-03 12:32] rursprung opened #235 "Kibana 7.10.2 - Backport bugfix"
as you might've heard elastic has changed the license of Elasticsearch for >= 7.11, there's no longer an Apache 2.0 licensed version available.
thus we (and others) are currently on 7.10.2 and will eventually move to [OpenSearch](https://opensearch.org/).

i've seen that you have made various bugfixes for newer versions. namely, #233 affects us as well and we'd need this bugfix for 7.10.2.

your v

[2021-09-03 12:58] pjhampton commented on #235
thus we (and others) are currently on 7.10.2 and will eventually move to OpenSearch.

Thanks, @rursprung! Full disclosure, I work for Elastic and I wrote this plugin before I joined them as an engineer. Although I don't work on the Stack team, you will see me committing regularly to Kibana and occasionally to other components such as Elasticsearch. I am privy to the breaks / license changes etc.

[2021-09-03 13:40] rursprung commented on #235
thanks a lot! please don't work on the weekend just for us!

while it's not exactly following [semver](https://semver.org/) (as it has one digit too much) i think it is quite helpful for this use-case. or you can use the [versioning schema used by Search Guard](https://docs.search-guard.com/latest/eol-policy#versioning-schema)?

@aparo has created a fork for OpenSearch: [aparo/opensearch-prometheu

[2021-09-06 09:56] pjhampton commented on #235
Thanks for the nudge @rursprung 🎖️
I meditated on this for a while. I think creating a separate release for now suits as Elasticsearch + OpenSearch and going to diverge more and more as time goes on.
Here you go https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.10.2-opensearch 👍

[2021-09-07 02:29] faust64 opened #236 "OpenSearch Dashboards"
Hi,

Sorry to bother you about this -- as a follow up to https://github.com/pjhampton/kibana-prometheus-exporter/issues/235

I'm mostly testing this out of curiosity, having seen that ticket: I think there's an issue with the 7.10.2-opensearch release.
When trying to install it, I would get the following error:

[code]

I started looking into fixing that zip ... Eventually managed to install a cop

[2021-09-09 15:12] rursprung commented on #235
thanks for the release, @pjhampton!

i'm a bit confused by the tag `7.10.2-opensearch`: is this now for elastic *kibana* 7.10.2 or for *opensearch dashboards* 1.0.0 or somehow for both?

[2021-09-09 17:32] faust64 commented on #235
I think it's meant for opensearch-dashboards-1.0.X.
While the kibana version in index file is set to 7.14.1.

Have you tried to install it?
There may be additional issues (#236), I didn't have time to dig further yet, ... hopefully soon.

[2021-09-09 18:31] pjhampton commented on #235
Thanks @faust64 / @rursprung

There seem to be a couple of complexities I missed. I will report back on my return from vacation.

[2021-09-15 08:19] pjhampton opened #238 "Release 7.15.0"

[2021-09-15 08:26] pjhampton commented on #238
Released https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.15.0

[2021-09-15 08:26] #238 closed

[2021-09-20 13:48] pjhampton commented on #235
Thanks, guys. After some toying around I have decided not to support OpenSearch Dashboards through this project for the following reasons:

  - The implementations have already diverged around the core APIs that this plugin needs to hook to.
  - I want to make the plugin more Prometheus friendly and that requires knowing the stats API.
  - The releases happen at differing temporal cadences.
  - Fu

[2021-09-20 13:48] #235 closed

[2021-09-20 13:49] pjhampton commented on #236
Thanks, @faust64. I have decided to u-turn on the support. I have left my comments here: https://github.com/pjhampton/kibana-prometheus-exporter/issues/235#issuecomment-922945017

[2021-09-20 13:49] #236 closed

[2021-09-21 08:57] rursprung commented on #235
no worries. it actually wasn't my goal to ask for opensearch support with this ticket - but thanks for looking into this!
instead, we for now still have elasticsearch 7.10.2 and would like to use your plugin there, which is why we'd need the backports of these bugfixes for 7.10.2.

[2021-09-21 09:34] pjhampton commented on #235
Of course, @rursprung - here is the fix: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.10.2

[2021-09-22 08:22] pjhampton opened #239 "Release 7.14.1"

[2021-09-23 15:27] rursprung commented on #235
i tested the v2 attachment there but it fails to start on a fresh kibana 7.10.2 installation:
[code]

[2021-09-23 17:53] faust64 commented on #235
Seee #208, I've seen similar errors, you may need to patch the kibana.json file

[2021-10-14 09:52] pjhampton commented on #239
This was released

[2021-11-10 10:05] pjhampton opened #243 "RELEASE 7.15.2"

[2021-11-10 10:06] pjhampton opened #244 "RELEASE 7.16.0"

[2021-11-10 10:06] pjhampton opened #245 "RELEASE 8.0.0"

[2021-11-10 10:07] pjhampton commented on #218
Hey. Sorry, this is a really old Elastic release and implementations have drifted. I'm not going to release this, but please feel free to fork an old release branch and I can advise you if you still require this.

[2021-11-10 10:07] #218 closed

[2021-11-10 10:08] #187 closed

[2021-12-14 09:52] dropdeadfu opened #247 "RELEASE 7.16.1"
Could you please do another release for new version? Everybody is racing to update their stuff to 7.16.1 because of the log4j exploit

[2021-12-14 14:55] pjhampton commented on #247
Thanks for the nudge. Incoming.

[2021-12-14 15:14] pjhampton commented on #243
Released to https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.15.2

[2021-12-14 15:14] #243 closed

[2021-12-14 15:21] pjhampton commented on #244
Released to https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.16.0 with CVE-2021-44228 advice.

[2021-12-14 15:22] #244 closed

[2021-12-14 15:27] pjhampton commented on #247
Released to https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.16.1

[2021-12-14 15:27] #247 closed

[2021-12-15 07:50] dropdeadfu commented on #247
Thank you for the good work! :)

[2021-12-16 21:27] pjhampton opened #248 "E2E Dockerfile setup"
Requires a dockerfile setup for e2e testing

  - Elasticsearch
  - Kibana
  - Prometheus
  - Grafana

[2022-01-04 11:34] pjhampton opened #249 "RELEASE 7.16.2"

[2022-01-13 00:39] andrewpollack opened #250 "Release 6.8.22"
Hello,

Is there a released version of this exporter that goes along with the 6.8.22 release?
https://www.elastic.co/guide/en/kibana/6.8/release-notes-6.8.22.html
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.22.html

Cheers 😸
Andrew

[2022-01-14 10:27] pjhampton commented on #250
I'm not maintaining anything before `7.10.0`, but I think the given the recent industry meltdowns I will release `6.8.22` and `6.8.23`.

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/6.8.22

[code]

[2022-01-14 10:27] #250 closed

[2022-01-19 11:59] arjunav123 opened #252 "Release of new version kibana-prometheus-exporter 7.16.3"
We are upgrading the ELK stack to the latest version 7.16.3 as part of log4j issue.
but we noticed kibana-prometheus-exporter version  7.16.3 is not yet released till now.
The last version released was 7.16.2.
Can you confirm the release of the  kibana-prometheus-exporter version 7.16.3 ?

[2022-01-19 13:43] pjhampton commented on #249
This was released: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.16.2

[2022-01-19 13:43] #249 closed

[2022-01-19 13:43] pjhampton opened #253 "RELEASE 7.16.3"
RE: https://github.com/pjhampton/kibana-prometheus-exporter/issues/253
RE: https://github.com/pjhampton/kibana-prometheus-exporter/issues/252

[2022-01-19 14:00] #253 closed

[2022-01-19 14:00] pjhampton commented on #252
Thanks, @arjunav123. Tested and released.

[2022-01-19 14:00] #252 closed

[2022-01-19 14:50] arjunav123 commented on #252
that was a light-speed release, thank you so much @pjhampton

[2022-01-24 13:59] pjhampton commented on #248
Added to https://github.com/pjhampton/kibana-prometheus-exporter/tree/main/docker

[2022-01-24 13:59] #248 closed

[2022-02-02 12:42] pjhampton opened #255 "RELEASE 7.17.0"

[2022-02-03 09:34] sigurdblueface opened #256 "kibana-plugin shows version 1.0.0"
[code]
I expected to see @7.16.3 as it's usually shown for elasticsearch plugins.
Please clarify if this is expected.

[2022-02-03 09:48] pjhampton commented on #256
Thanks for reporting. Will fix.

[2022-02-03 09:49] #255 closed

[2022-02-23 06:26] shingou0120 opened #261 "How to calculate Kinabalu heap used?"
Hi, I use this exporter to monitor my kibana.
As I read wiki page here, kibana_heap_max_in_bytes means how much the kibana can use when jvm initialized.
But I query this metric in prometheus, the graph of value is not stable(up and down)
So I am wondering where it goes wrong? Should I upgrade exporter version to 7.17.x from 7.1.0.x?
Or any other issue I should fix first?

[2022-02-23 13:23] pjhampton commented on #261
Hey @shingou0120,

Thanks for reaching out! That is correct, there was a bug found in 7.10.1 reported in https://github.com/pjhampton/kibana-prometheus-exporter/issues/219 and fixed in https://github.com/pjhampton/kibana-prometheus-exporter/pull/221. This only applies to releases from 7.10.1 onwards, and earlier versions are still affected by this bug.

I do recommend you upgrade **your entire Ela

[2022-02-23 13:23] #261 closed

[2022-02-24 12:16] ankit20000 opened #262 "getting issue 404 in 6.2.4 plugin in kibana (6.2.4)"
I have installed the kibana-prometheus-exporter exporter using bin/kibana-plugin install https://github.com/pjhampton/kibana-prometheus-exporter/releases/download/6.2.4/kibana-prometheus-exporter-6.2.4.zip and installation has been successfully done but getting the 404 curl -k http://localhost:5601/_prometheus/metrics/..

[2022-02-24 12:18] ankit20000 commented on #262
i have restarted the kibana after plugin installation but same error and  below is the dameon.log after restarting the kibana

["plugin","warning"],"pid":21286,"path":"/usr/share/kibana/plugins/kibana-prometheus-exporter","message":"Skipping non-plugin directory at /usr/share/kibana/plugins/kibana-prometheus-exporter"}
Feb 24 17:27:59 kibana[21286]: {"type":"log","@timestamp":"2022-02-24T11:57:59Z

[2022-02-24 13:24] pjhampton commented on #262
Hey @ankit20000,

Bad news - I don't support plugin releases older than 7.10 (https://github.com/pjhampton/kibana-prometheus-exporter/blob/main/RELEASES.md), otherwise, I would be maintaining the likely equivalent to 100 projects. Hope you understand.

I can give you 2 recommendations though:

  - Upgrade your Elastic stack to something more modern such as `7.17.0` or `8.0.0`, or at very least `6.

[2022-02-24 13:24] #262 closed

[2022-02-24 14:57] ankit20000 commented on #262
we will upgrade it but before we need to use this exporter so please help me to fix this issue .

Please let me know if you need any logs or anyfile

[2022-02-24 15:16] ankit20000 commented on #262
I am installing it on ubuntu 18.04 amd and the version of the kibana 6.2.4

[2022-02-25 05:04] ankit20000 commented on #262
@pjhampton please provide the solution

[2022-02-25 18:39] pjhampton commented on #262
Hey @ankit20000

I don't support plugin releases older than 7.10 (https://github.com/pjhampton/kibana-prometheus-exporter/blob/main/RELEASES.md). As I maintain this as part of the community Prometheus and Elastic community for free, my commercial work has to come first for obvious reasons. I will hopefully get looking at this next week for you. Please be patient and consider forking the project an

[2022-02-28 02:07] jasminehung opened #263 "Image on dockerhub"
Hi, is there a chance kibana-prometheus-exporter release a docker image on dockerhub? Since this exporter is awesome and updated frequently, really hope one day we can install it directly on kubernetes through pulling docker image :)
Thanks a lot!

[2022-02-28 09:35] pjhampton commented on #263
Hey @jasminehung.

That is a great idea - I love it :-)

I'm defo up for supporting this from 7.17.0/8.0.0, but I need to do my research first - there are a couple of security features I need to do my homework on. I will report back soon, but for now there is no ETA.

[2022-03-10 09:17] manuelbs88 opened #266 "Release supporting Kibana 7.17.1"
Hello @pjhampton,
First of all, thanks a lot for your efforts in keeping this Prometheus exporter up to date. I rly prefer this exporter-kibana-plugin rather than the standalone exporter :)

Recently, we have updated our clusters to v7.17.1 (since 7.9.3 is EOL), and together with them, we also updated our Kibana.

We'd like to continue using this Prometheus exporter, but seems that only the 7.17.0

[2022-03-10 11:17] pjhampton commented on #266
Thanks so much for the kind words and nudge @manuelbs88 🙏🏻 ✨

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.17.1

[2022-03-10 11:17] #266 closed

[2022-03-10 11:24] #245 closed

[2022-03-10 11:24] pjhampton commented on #256
Resolved. Thanks again for reporting :)

[2022-03-10 11:24] #256 closed

[2022-04-29 10:35] alexmihajlov opened #272 "https"
Please add setting for https if kibana only works with it.

[2022-05-06 15:03] alexmihajlov commented on #272
I am using kibana 7.10.1 in the docker along with the installed kibanaPrometheusExporter plugin.

When I make a query
` curl https://user:password@127.0.0.1:5601/_prometheus/metrics`

I get an error:
[code]
The plugin seems to make requests to http://127.0.0.1:5601/api/status , which is not available, instead of going to https://127.0.0.1:5601/api/status.
But from what I understand, from the log i

[2022-05-26 11:10] waney316 opened #275 "get metrics error when kibana 6.5.0 use basic auth"
kibana and es version=6.5.0，and use user/pass to connect，but when i get localhost:5601/_prometheus/metrics occured  some error
![image](https://user-images.githubusercontent.com/23314093/170476501-8dfb0024-e17b-4c6b-afa3-3fb969a1f21f.png)
![image](https://user-images.githubusercontent.com/23314093/170476534-e154a8be-ad5b-406f-968c-a2315a742fd0.png)

[2022-06-15 06:20] chendw opened #277 "please RELEASE 7.17.4"

[2022-06-15 14:34] pjhampton commented on #272
Thanks for the bug report, and the patience @alexmihajlov. There is a couple of things here.

1. You are correct. There was a TLS bug fixed here: https://github.com/pjhampton/kibana-prometheus-exporter/commit/15bccc31c9bc416b52d4d81cab3f6582a4a59bfe. This was caused by a move from Axios to node-fetch, to align with how Kibana is evolving when making internal / external requests. I will release thi

[2022-06-15 14:34] #272 closed

[2022-06-15 14:37] pjhampton commented on #275
Apologies - I don't support any releases older than 7.10. Need to draw the line somewhere :-)
Please consider forking.

[2022-06-15 14:37] #275 closed

[2022-06-15 14:39] #210 closed

[2022-06-15 14:51] pjhampton commented on #277
Thanks for the nudge @chendw

https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/7.17.4

[2022-06-15 14:51] #277 closed

[2022-07-06 14:46] sbarrypoppulo opened #278 "Release for 7.17.5"
Any chance you can release version for 7.17.5 support?

Thanks

[2022-07-06 14:50] sbarrypoppulo opened #279 "Improvement: Automated releases consuming from upstream"
Many thanks for your work on this project. I note a lot of issues asking for releases of specific versions and wonder could the release process be streamlined to consume upstream [kibana releases](https://github.com/elastic/kibana/releases) and trigger releases once tested/validated? Might ease some burden by improving automated releases :)

[2022-07-11 03:27] Iatbzh opened #280 "targets does not support proxy domain names, such as foo com/log"
targets does not support proxy domain names, such as foo.com/log
- job_name: 'kibana'
  scrape_interval: '10s'
  metrics_path: '_prometheus/metrics'
  static_configs:
  - targets: ['foo.com/log']
  basic_auth:
    username: 'elastic'
    password: 'changeme'

[2022-09-19 08:38] dainiusjocas opened #281 "RELEASE 8.4.1"

[2022-11-18 13:36] weastur commented on #278
up

P. S. I'm not an expert in kibana plugin development, but maybe there is a way/reason to set less strict version constraints?

@pjhampton

[2022-11-21 10:17] pjhampton commented on #278
Thanks, folks, and apologies for the wait - I was out on paternity and only catching up on FOSS work now.
I will release the latest 7.17 series of plugin support **this week**.

[2022-11-21 10:18] pjhampton commented on #281
Thanks, @dainiusjocas! 🤘🏻
Released: https://github.com/pjhampton/kibana-prometheus-exporter/releases/tag/8.4.1

[2022-11-21 10:18] #281 closed

[2022-11-21 10:50] pjhampton commented on #279
Thanks for the feedback @sbarrypoppulo!

Tell me about it - releasing is super cumbersome. Before I went off on sabbatical I created this https://github.com/pjhampton/kibana-prometheus-exporter/blob/main/.github/workflows/release-plugin.yml

However, I wasn't happy with it. I just needs... more polish. I will pick it up again in the coming weeks to ease the toil on me.

[2022-11-21 10:53] pjhampton commented on #280
Thanks for the bug report, @Iatbzh!

Just so I am clear... You have CNAME record `foo.com/log` pointing at `localhost:5601/_prometheus/metrics` or am I misunderstanding?